<div class="m-content">
    <div class="row">
            <div class="col-xl-4">
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Roles
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="m_widget4_tab1_content">
                                    <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-max-height="400" data-scrollable="true" style="height: 400px; overflow: visible; max-height: 400px; position: relative;"><div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_5_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                                        <div class="m-list-timeline m-list-timeline--skin-light">
                                            <div class="m-list-timeline__items">
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                    <span class="m-list-timeline__text">
                                                            ESS                                                       </span>
                                                    <span class="m-list-timeline__time">
                                                            <input type="checkbox" checked="true" disabled="disabled">
                                                    </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                        <span class="m-list-timeline__text">
                                                            Supervisor                                                      </span>
                                                        <span class="m-list-timeline__time">
                                                                <input type="checkbox" checked="checked">
                                                        </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
                                                        <span class="m-list-timeline__text">
                                                            Reviewer                                                      </span>
                                                        <span class="m-list-timeline__time">
                                                                <input type="checkbox">
                                                        </span>
                                                </div>
                                                <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
                                                        <span class="m-list-timeline__text">
                                                            HR SPOC                                                      </span>
                                                        <span class="m-list-timeline__time">
                                                                <input type="checkbox">
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div><div id="mCSB_5_scrollbar_vertical" class="mCSB_scrollTools mCSB_5_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_5_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 231px; max-height: 380px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                                </div>
                                <div class="tab-pane" id="m_widget4_tab2_content"></div>
                                <div class="tab-pane" id="m_widget4_tab3_content"></div>
                            </div>
                        </div>
                    </div>
            </div>
        <div class="col-xl-4">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Documents
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="m_widget4_tab1_content">
                                <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide" data-max-height="400" data-scrollable="true" style="height: 400px; overflow: visible; max-height: 400px; position: relative;"><div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_5_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                                    <div class="m-list-timeline m-list-timeline--skin-light">
                                        <div class="m-list-timeline__items">
                                                <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                        <span class="m-list-timeline__text">
                                                                Checklist - Joining Formalities                                                        </span>
                                                        <span class="m-list-timeline__time">
                                                                <input type="checkbox">
                                                        </span>
                                                    </div>
                                            <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                    <span class="m-list-timeline__text">
                                                            Employee Induction Program                                                       </span>
                                                    <span class="m-list-timeline__time">
                                                            <input type="checkbox">
                                                    </span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                    <span class="m-list-timeline__text">
                                                            Employee Joining Report                                                       </span>
                                                    <span class="m-list-timeline__time">
                                                            <input type="checkbox">
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div></div><div id="mCSB_5_scrollbar_vertical" class="mCSB_scrollTools mCSB_5_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_5_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 231px; max-height: 380px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                            </div>
                            <div class="tab-pane" id="m_widget4_tab2_content"></div>
                            <div class="tab-pane" id="m_widget4_tab3_content"></div>
                        </div>
                    </div>
                </div>
                
        </div>
        <div class="col-xl-4">
			
                <div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
                    <div class="m-portlet__body">
                        <div class="m-widget28">
                            <div class="m-widget28__pic m-portlet-fit--sides"></div>
                            <div class="m-widget28__container">
                                
                                <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist">
                                    <li class="m-widget28__nav-item nav-item">
                                        <a class="nav-link active show" data-toggle="pill" href="#menu11" ng-reflect-href="#menu11">
                                            <span>
                                                <i class="fa flaticon-settings"></i>
                                            </span>
                                            <span>
                                                Roles
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-widget28__nav-item nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#menu21" ng-reflect-href="#menu21">
                                                <span>
                                                    <i class="fa flaticon-file-1"></i>
                                                </span>
                                                <span>
                                                    Supervisor
                                                </span>
                                            </a>
                                        </li>
                                        
                                    <li class="m-widget28__nav-item nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#menu31" ng-reflect-href="#menu31">
                                            <span>
                                                <i class="fa flaticon-clipboard"></i>
                                            </span>
                                            <span>
                                                Documents
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                                 
                                <div class="m-widget28__tab tab-content">
                                    <div class="m-widget28__tab-container tab-pane active show" id="menu11">
                                        <div class="m-widget28__tab-items">
                                                <div class="m-widget28__tab-item">
                                                        <span>
                                                            Default Role
                                                        </span>
                                                        <span>
                                                                ESS
                                                                <input class="pull-right" type="checkbox" checked="checked" disabled>
                                                            </span>
                                                    </div>
                                                    <div class="m-widget28__tab-item">
                                                            <span>
                                                            </span>
                                                            <span>
                                                                Supervisor
                                                                <input class="pull-right" type="checkbox" checked="checked">

                                                            </span>
                                                        </div>
                                                        <div class="m-widget28__tab-item">
                                                                <span>
                                                                </span>
                                                                <span>
                                                                    Reviewer
                                                                    <input class="pull-right" type="checkbox">

                                                                </span>
                                                            </div>
                                                            <div class="m-widget28__tab-item">
                                                                    <span>
                                                                    </span>
                                                                    <span>
                                                                        HR SPOC
                                                                        <input class="pull-right" type="checkbox">
    
                                                                    </span>
                                                                </div>
                                        </div>
                                    </div>
                                    <div class="m-widget28__tab-container tab-pane fade" id="menu21">
                                        <div class="m-widget28__tab-items">
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Primary Supervisor
                                                </span>
                                                <span>
                                                        <ng-select class="m-input m-input--air" name="bloodGroup" [items]="bloodGropData" bindLabel="text" bindValue="id" placeholder="Select Blood Group" [(ngModel)]="personalInfo.bloodGroup" [clearable]="false" #bloodGroup="ngModel" required></ng-select>
                                                    </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Secondary Supervisor
                                                </span>
                                                <span>
                                                    USD 2,170.000
                                                </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Leave Supervisor
                                                </span>
                                                <span>
                                                    D110-1234562546
                                                </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Company Name
                                                </span>
                                                <span>
                                                    SLT Back-end Solutions
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-widget28__tab-container tab-pane fade" id="menu31">
                                        <div class="m-widget28__tab-items">
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Total Charges
                                                </span>
                                                <span>
                                                    USD 3,450.000
                                                </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Project Description
                                                </span>
                                                <span>
                                                    Creating Back-end Components
                                                </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    Company Name
                                                </span>
                                                <span>
                                                    SLT Back-end Solutions
                                                </span>
                                            </div>
                                            <div class="m-widget28__tab-item">
                                                <span>
                                                    INE Number
                                                </span>
                                                <span>
                                                    D510-7431562548
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
</div>