<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Welcome to ADN HRIS!
			</h3>
		</div>

		<!-- <div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div> -->
	</div>

	<!-- new dashboard start -->

	<!-- <div class="col-xl-4">
		<div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm m-portlet--full-height">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Performance Dashboards
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					 <ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
									<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
										<div class="btn-group" role="group">
											<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false">
												{{transactionFilter.status}}
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
												<a class="dropdown-item" href="#" *ngFor="let status of leaveStatuses" (click)="transactionFilter.status = status; getTransactions();">
													{{status}}
												</a>
											</div>
										</div>
									</div>
							</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body" style="background-image: url(./assets/app/media/img/misc/performanceManagement.jpg); height: 260px; width: 400px;">
					<span class="alignRight">
							<a class="btn btn-outline-success m-btn m-btn--pill m-btn--wide btn-block" (click)="downloadKraCsv();">
								Download Status Report
							</a>
					</span>
				<div class="hrtoemprat" *ngIf="transactionFilter.status=='HR-Emp Ratio'">
					<p><font size="3">Total no of employee : {{empCount}}</font></p>
					<p><font size="3">Total no of hr : {{hrCount}}</font></p>
					<div>
						<span class="centerP">
							<p style="font-size: 80px; color: #a9a1a1">{{hrToEmpratio}}</p>
							<p><font size="5">Ratio of hr to employee </font></p>
						</span>
					</div>
				</div>
				<div class="hrtoemprat" *ngIf="transactionFilter.status=='Supervisor Role %'">
						<p><font size="3">Total no of employee : {{empCount}}</font></p>
						<p><font size="3">Total no of Supervisor : {{hrCount}}</font></p>
						<div>
							<span class="centerP">
								<p style="font-size: 80px; color: #a9a1a1 !important">{{percentageOfSupervisor}}</p>
								<p><font size="5">Supervisor to employee ratio</font></p>
							</span>
						</div>
				</div>
				<div class="hrtoemprat" *ngIf="transactionFilter.status=='Span Of Control'">
						<p><font size="3">Total no of employee : {{empCount}}</font></p>
						<p><font size="3">Employee with management role : {{managementEmpCount}}</font></p>
						<div>
							<span class="centerP">
								<p style="font-size: 80px; color: #a9a1a1 !important">{{managementEmpRatio}}</p>
								<p><font size="5">Span of control ratio</font></p>
							</span>
						</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- new dashboard end -->

	<div class="col-lg-12 ppt" style="margin-top: 35px;">
		<iframe [src]='documentUrlSanitized' width='1366px' height='623px' frameborder='0'>This is an embedded <a
				target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank'
				href='http://office.com/webapps'>Office Online</a>.</iframe>
	</div>
</div>
<!-- END: Subheader -->