@import "grids/leave-transactions/leave-transactions-grid.component.scss";
@import "../../../../../../../../assets/colors.scss";


.employeeDetail{

    .img{
        width: 100%;
        margin-bottom: 10px;
    }

    .detail{
        span{

            display: block;
        }
    }
}

.gridColorStatus {
    span{
        display: inline !important;
    }

    i {
        padding: 0px 10px;

        &.Green {
            color: $status-green;
        }

        &.Amber {
            color: $status-amber;
        }

        &.Yellow {
            color: $status-yellow;
        }

        &.Dropped {
            color: $status-drop;
        }
    }
}

.filters{
    .dateFilter{
        width: 30%;
        margin-left: 2rem;
    }
}

.img{
    width: 100%;
}

.leaveBalances{
    padding-left: 3rem;
    margin-bottom: 1rem;

    .balance{
        margin-bottom: 3px;
        font-size: 16px;
    }

    table{
        border: 1px solid lightgray;

        td{
            border: 1px solid lightgray;
            padding: 3px;
        }
    }
}