@import "grids/leave-transactions/leave-transactions-grid.component.scss";

.employeeDetail{

    .img{
        width: 100%;
        margin-bottom: 10px;
    }

    .detail{
        span{

            display: block;
        }
    }
}