<div class="m-content" *ngIf="currentUser?.roles.indexOf('HR') == -1 && currentUser?.roles.indexOf('Supervisor') == -1">
    <div class="row">
        <!--begin::Leave Balance-->
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Leave Balance - 2018
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget4">
                        <div class="m-widget4__item" *ngFor="let leave of leaveBalance">
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    {{leave.type}}
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span>
                                    {{leave.balance}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Leave Balance-->

        <!--begin::Upcoming Holidays-->
        <div class="col-xl-4 holiday">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Upcoming Holidays
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget4">
                        <div class="m-widget4__item" *ngFor="let holiday of upcomingHolidays">
                            <div class="m-widget4__info">
                                <span class="m-menu__link-badge">
                                    <span class="m-badge m-badge--info day">
                                        {{holiday.date | date:'EEEE'}}
                                    </span>
                                    <span class="m-badge m-badge--info type" *ngIf="holiday.type">
                                        {{holiday.type}}
                                    </span>
                                </span>
                                <span>{{holiday.date | date:'d MMM y'}}</span>
                            </div>
                            <div class="m-widget4__ext">
                                <span>{{holiday.occasion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Upcoming Holidays-->

        <!--begin::Recent Transactions-->
        <div class="col-xl-4 transaction">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Recent Transactions
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget4">
                        <div class="m-widget4__item" *ngFor="let tran of recentTransactions | slice : 0 : 5">
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    {{tran.leave_type_name}}
                                </span>
                            </div>
                            <div class="m-widget4__desc">
                                <span *ngIf="tran.endDate">{{tran.fromDate | date:'d MMM y'}} to {{tran.toDate | date:'d MMM y'}}</span>
                                <span *ngIf="!tran.endDate">{{tran.fromDate | date:'d MMM y'}}</span>
                                <span class="">{{tran.remark}}</span>
                            </div>
                            <div class="m-widget4__ext">
                                <span>
                                    {{tran.isApproved ? 'Approved' : 'Pending'}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Recent Transactions-->
    </div>
</div>

<div class="m-content hr-leave-dashboard" *ngIf="currentUser?.roles.indexOf('HR') > -1 || currentUser?.roles.indexOf('Supervisor') > -1">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-accordion m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow" id="m_accordion_7"
                role="tablist" *ngIf="leaveList && leaveList.length > 0">

                <!--begin::Item // Need to loop this -->
                <div class="m-accordion__item" *ngFor="let leave of leaveList;let i=index">
                    <div class="m-accordion__item-head acc_custom collapsed" role="tab" attr.id="m_accordion_7_item_{{i+1}}_head" data-toggle="collapse"
                        attr.href="#m_accordion_7_item_{{i+1}}_body" aria-expanded="false">
                        <div class="m-accordion__item-title">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="d-inline-block align-top">
                                        <img class="m--marginless emp-list-image" src="assets/app/media/img/custom/users/user6.jpg">
                                    </div>
                                    <div class="d-inline-block">
                                        <span class="emp-list-name d-block">{{leave.emp_name}}</span>
                                        <span class="emp-list-empid d-block">#PP{{leave.emp_id}}</span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="d-inline-block align-top">
                                        <span class="leave-type d-block">{{leave.days}} Days</span>
                                        <span class="leave-desc d-block">{{leave.reason}}</span>
                                    </div>
                                    <div class="d-inline-block">
                                        <span *ngIf="leave.fromDate && leave.toDate" class="emp-list-leavedate">{{leave.fromDate | date:'dd MMM yy'}} to {{leave.toDate | date:'dd MMM yy'}}</span>
                                    </div>
                                </div>
                                <div class="col-xl-4">Currently with: {{leave.applyTo_name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="m-accordion__item-body collapse" attr.id="m_accordion_7_item_{{i+1}}_body" role="tabpanel" attr.aria-labelledby="m_accordion_7_item_{{i+1}}_head"
                        data-parent="#m_accordion_7">
                        <div class="m-accordion__item-content">
                            <!--Need to move this to separate child componenet-->
                            <table class="table table-bordered tableform">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="label">Leave Type:</span>{{leave.leave_type_name}}</td>
                                        <td>
                                            <span class="label">Days:</span>{{leave.days}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label">From:</span>{{leave.fromDate | date:'dd MMM yy'}}</td>
                                        <td>
                                            <span class="label">To:</span>{{leave.toDate | date:'dd MMM yy'}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span class="label">Reason:</span>{{leave.reason}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <app-leave-forward [leave]="leave" (refreshLeavesList)="getLeaveDetails()"></app-leave-forward>
                        </div>
                    </div>
                </div>
                <!--end::Item-->

            </div>
        </div>
    </div>
</div>