app-my-leaves-dashboard {
    .holiday {
        .m-portlet__body {
            .m-widget4 {
                .m-widget4__item {
                    width: 100%;

                    .m-widget4__info {
                        width: 60%;

                        span {
                            display: block;
                        }

                        .m-badge {
                            display: inline-block;

                            &.day {
                                width: 50%;
                            }

                            &.type {
                                width: 20%;
                            }
                        }
                    }
                }
            }
        }
    }

    .transaction {
        .m-widget4__item {
            width: 100%;

            .m-widget4__info {
                width: 20%;
            }

            .m-widget4__desc {
                width: 100%;

                span {
                    display: block;
                }
            }

            .m-widget4__ext {
                width: 30%;
            }
        }
    }
}
