<div class="m-content">
	<div class="m-portlet leave-balance-portlet">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-md-3" *ngFor="let bal of leaveBalance">
				<div *ngIf="bal.allotedLeave != 0" class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="block">
								<h3 class="m-widget1__title">
									{{bal.leaveType}}
								</h3>
							</div>
							<div class="block">
								<span class="m-widget1__number m--font-accent">
									<span class="big-h1">{{bal.appliedLeave}}</span>
									<span style="color: #a9a1a1 !important">/ {{bal.allotedLeave}}</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text flaticon-user-add">
								Leave Application
								<small>
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active show" id="applyLeavePanel" role="tabpanel">
							<form class="m-form m-form--fit m-form--label-align-right"
								(ngSubmit)="onLeaveAppSubmit(fleaveapplication)" id="fleaveapplication"
								#fleaveapplication="ngForm">
								<div class="form-body">
									<div class="row">
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">Leave Type</label>
												<span class="required" aria-required="true"> * </span>
												<ng-select #ddLeaveType class="m-input m-input--air" name="leaveType"
													bindValue="_id" bindLabel="type" [items]="leaveTypesDetails"
													[(ngModel)]="leaveapplication.leaveType" id="leavetype"
													#leavetype="ngModel" placeholder="Select Leave Type"
													(ngModelChange)="onChangeLeaveType($event,leaveapplication)"
													[clearable]="false" required>
												</ng-select>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && !leavetype.valid">
													This field is required.
												</div>
											</div>
										</div>
										<div class="col-md-3 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">From Date</label>
												<span class="required" aria-required="true">* </span>
												<input type="text" class="form-control m-input m-input--air"
													name="fromDate"
													(ngModelChange)="calculateDays($event, 'fromDate', leaveapplication)"
													placeholder="Select From Date"
													[(ngModel)]="leaveapplication.fromDate" #fromDate="ngModel"
													bsDatepicker [readonly]="true"
													[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
													[minDate]="leaveapplication.fYear?.startDate" id="fromDate"
													required>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && leavetype.valid">
													<span *ngIf="fleaveapplication.submitted && !fromDate.valid">This
														field is required.</span>
													<span
														*ngIf="fleaveapplication.submitted && !fromDateValidation.isValid">{{fromDateValidation.msg}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-3 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">To Date</label>
												<span class="required" aria-required="true">* </span>
												<input type="text" class="form-control m-input m-input--air"
													name="toDate"
													(ngModelChange)="calculateDays($event, 'toDate', leaveapplication)"
													placeholder="Select To Date" bsDatepicker [readonly]="true"
													[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="toDate"
													[(ngModel)]="leaveapplication.toDate"
													[minDate]="leaveapplication.fromDate"
													[maxDate]="leaveapplication.fYear?.endDate" #toDate="ngModel"
													required>
												<div class="form-control-feedback has-danger"
													*ngIf="!toDate.valid && leavetype.valid">
													<span *ngIf="fleaveapplication.submitted && !toDate.valid">This
														field is required.</span>

												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">Days</label>
												<span class="pl1r">{{leaveapplication.days}}</span>
												<span class="pl1r">
													<button class="btn btn-success" type="button"
														(click)="processSandwich(leaveapplication)">Calculate
														Days</button>
												</span>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && leavetype.valid">
													<span *ngIf="!leaveapplication.areDaysValid">Please Calculate
														Days</span>
												</div>
												<div class="form-control-feedback has-danger"
													*ngIf="!leaveapplication.isSandwichValid">
													<span
														*ngIf="!leaveapplication.areDaysValid">{{daysValidationMsg}}</span>
												</div>
											</div>
										</div>
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">Balance</label>
												<span class="pl1r">{{leaveapplication.balance}}</span>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && leavetype.valid">
													<span *ngIf="!leaveapplication.isBalanceValid">
														Not enough balance
													</span>
												</div>
											</div>
										</div>
									</div>
									<!-- ----------------------------------------------------------------------------------------------------------- -->
									<!-- Additional Leaves Start -->
									<!-- ----------------------------------------------------------------------------------------------------------- -->
									<div class="additionalLeaves"
										*ngFor="let additionalLeave of additionalLeaves;let i = index;">
										<div class="row">
											<div class="col-md-6 adn-form__group">
												<div class="m-form__group form-group">
													<label for="form_control_1">Leave Type</label>
													<span class="required" aria-required="true"> * </span>
													<ng-select #ddLeaveType class="m-input m-input--air"
														name="leaveType_{{i}}" bindValue="_id" bindLabel="type"
														[items]="leaveTypesDetails"
														[(ngModel)]="additionalLeave.leaveType"
														#additionalleavetype_i="ngModel" placeholder="Select Leave Type"
														(ngModelChange)="onChangeLeaveType($event, additionalLeave)"
														[clearable]="false" required>
													</ng-select>
													<div class="form-control-feedback has-danger"
														*ngIf="fleaveapplication.submitted && !additionalleavetype_i.valid">
														This field is required.
													</div>
												</div>
											</div>
											<div class="col-md-3 adn-form__group">
												<div class="m-form__group form-group">
													<label for="form_control_1">From Date</label>
													<span class="required" aria-required="true">* </span>
													<input type="text" class="form-control m-input m-input--air"
														name="fromDate_{{i}}"
														(ngModelChange)="calculateDays($event, 'fromDate', additionalLeave)"
														placeholder="Select From Date"
														[(ngModel)]="additionalLeave.fromDate" #fromDate_i="ngModel"
														bsDatepicker [readonly]="true"
														[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
														[minDate]="leaveapplication.fYear?.startDate"
														id="fromDate_{{i}}" required>
													<div class="form-control-feedback has-danger"
														*ngIf="fleaveapplication.submitted && additionalleavetype_i.valid">
														<span
															*ngIf="fleaveapplication.submitted && !fromDate_i.valid">This
															field is required.</span>
														<span
															*ngIf="fleaveapplication.submitted && !fromDateValidation.isValid">{{fromDateValidation.msg}}
														</span>
													</div>
												</div>
											</div>
											<div class="col-md-3 adn-form__group">
												<div class="m-form__group form-group">
													<label for="form_control_1">To Date</label>
													<span class="required" aria-required="true">* </span>
													<input type="text" class="form-control m-input m-input--air"
														name="toDate_{{i}}"
														(ngModelChange)="calculateDays($event, 'toDate', additionalLeave)"
														placeholder="Select To Date"
														[(ngModel)]="additionalLeave.toDate" #toDate_i="ngModel"
														bsDatepicker [readonly]="true"
														[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
														[minDate]="additionalLeave.fromDate"
														[maxDate]="leaveapplication.fYear?.endDate" id="toDate_{{i}}"
														required>
													<div class="form-control-feedback has-danger"
														*ngIf="!toDate_i.valid && additionalleavetype_i.valid">
														<span
															*ngIf="fleaveapplication.submitted && !toDate_i.valid">This
															field is required.</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 adn-form__group">
												<div class="m-form__group form-group">
													<label for="form_control_1">Days</label>
													<span class="pl1r">{{additionalLeave.days}}</span>
													<span class="pl1r">
														<button class="btn btn-success" type="button"
															(click)="processSandwich(additionalLeave)">Calculate
															Days</button>
													</span>
													<div class="form-control-feedback has-danger"
														*ngIf="fleaveapplication.submitted && additionalleavetype_i.valid">
														<span *ngIf="!additionalLeave.areDaysValid">
															Please Calculate Days
														</span>
													</div>
													<div class="form-control-feedback has-danger"
														*ngIf="!additionalLeave.isSandwichValid">
														<span
															*ngIf="!additionalLeave.areDaysValid">{{daysValidationMsg}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-6 adn-form__group">
												<div class="m-form__group form-group">
													<label for="form_control_1">Balance</label>
													<span class="pl1r">{{additionalLeave.balance}}</span>
													<div class="form-control-feedback has-danger"
														*ngIf="fleaveapplication.submitted && additionalleavetype_i.valid">
														<span *ngIf="!additionalLeave.isBalanceValid">
															Not enough balance
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row"
										*ngIf="leaveapplication.leaveType == 3 || leaveapplication.leaveType == 4">
										<div class="col-md-6 adn-form__group">
										</div>
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group">
												<button class="btn btn-success submitForm pull-right" type="button"
													(click)="addMore()">Add More</button>
											</div>
										</div>
									</div>
									<!-- ----------------------------------------------------------------------------------------------------------- -->
									<!-- Additional Leaves End -->
									<!-- ----------------------------------------------------------------------------------------------------------- -->
									<div class="row">
										<div class="col-md-6 adn-form__group">
											<div class="form-group m-form__group">
												<label for="form_control_1">Approving Authority</label>
												<span class="pl1r">{{primarySupervisor?.fullName}}</span>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && leavetype.valid">
													<span *ngIf="!supervisorPresent">Supervisor Required</span>
												</div>
											</div>
										</div>
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group">
												<label for="form_control_1">Reason</label>
												<span class="required" aria-required="true"> * </span>
												<textarea name="reason" id="reason"
													class="form-control m-input m-input--air" rows="3"
													placeholder="Reason" [(ngModel)]="leaveapplication.reason"
													#reason="ngModel" required></textarea>
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && !reason.valid && leavetype.valid">
													This field is required.
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 adn-form__group">
											<div class="m-form__group form-group attachment">
												<label for="form_control_1">Attachment (max. size 300kb)</label>
												<span class="required" aria-required="true" *ngIf="isAttachmentAdded"> *
												</span>
												<span class="fileName"
													*ngIf="leaveapplication.attachmentName">{{leaveapplication?.attachmentName}}
													<i class="fa fa-times" (click)="clearAttachment()"></i>
												</span>
												<label class="btn btn-default browse">
													Browse
													<input type="file" accept="application/pdf" hidden="hidden"
														name="attachement" #documentsPdf ngFileSelect
														[options]="options"
														(uploadOutput)="onUploadOutput($event, document.documentName)"
														[uploadInput]="uploadInput" (click)="documentsPdf.click()">
													<!-- <input type="file" name="attachment" (change)="onFilePick($event)" value="Upload Document" /> -->
												</label>
												<!-- <span>max size 300kb</span> -->
												<div class="form-control-feedback has-danger"
													*ngIf="fleaveapplication.submitted && leavetype.valid">
													<span *ngIf="isAttachmentAdded">This field is required.</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-12">
											<div class="m-form__actions">
												<button class="btn btn-success submitForm" type="submit"
													id="submitForm">Apply</button>
												<button class="btn btn-secondary"
													(click)="fleaveapplication.resetForm();InitValues();"
													type="button">Clear</button>
												<button class="btn btn-secondary" (click)="goToDashboard();"
													type="button">Go Back</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>