app-my-leaves-apply {
    flex: 1;

    .dark-border {
        background-color: #198F4A;
        border-color: #198F4A;
        margin: 0 0 30px;
        padding-right: 35px;

        .combine-element {
            float: right;
            width: 80%;

            .text-format {
                display: table-cell;
                font-size: 1.3rem;
                font-weight: 500;
                font-family: Roboto;
                color: #ffffff;
                padding-right: 10px;
                overflow: hidden;
                white-space: nowrap;
            }

            .dd-format {
                display: table-cell;
                width: inherit;
            }
        }
    }

    #fleaveapplication {
        .adn-form__group {
            .attachment {
                label {
                    &.browse {
                        display: block;
                        text-align: center;
                        width: 20%;

                        input {
                            display: none;
                        }
                    }
                }

                .fileName {
                    margin-left: 2rem;

                    i {
                        cursor: pointer;
                        color: #C70000;
                    }
                }
            }

            .specialBalance {
                span {
                    margin-right: 15px;
                    font-weight: 500;
                }
            }

            .hrRemarks {
                margin-top: 10px;
            }
        }
    }

    .leave-balance-portlet {
        .m-widget1 {
            padding: .8rem 2rem;

            .block {
                width: 100%;
                text-align: center;
            }
        }
    }
}
