app-my-leaves-apply {
    flex: 1;

    #fleaveapplication {
        .adn-form__group {
            .attachment {
                label {
                    &.browse {
                        display: block;
                        text-align: center;
                        width: 20%;

                        input {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .leave-balance-portlet {
        .m-widget1 {
            padding: .8rem 2rem;

            .block {
                width: 100%;
                text-align: center;
            }
        }
    }
}
