<div class="m-content">
	<div class="m-portlet leave-balance-portlet">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-md-3" *ngFor="let bal of leaveBalance">
				<div *ngIf="bal.allotedLeave != 0" class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="block">
								<h3 class="m-widget1__title">
									{{bal.leaveType}}
								</h3>
							</div>
							<div class="block">
								<span class="m-widget1__number m--font-accent">
									<span class="big-h1">{{bal.appliedLeave}}</span>
									<span style="color: #a9a1a1 !important">/ {{bal.allotedLeave}}</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text flaticon-user-add">
								Leave Application
								<small>
								</small>
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="tab-content">
						<div class="tab-pane active show" id="applyLeavePanel" role="tabpanel">
							<apply-leave-panel [userType]="'employee'"></apply-leave-panel>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>