 <div class="m-content">
	<div class="row">
	   <div class="col-md-12">
		  <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
			 <div class="m-portlet__head">
				<div class="m-portlet__head-caption">
				   <div class="m-portlet__head-title">
					  <h3 class="m-portlet__head-text flaticon-user-add">
						 Add Employee
						 <small>
						 </small>
					  </h3>
				   </div>
				</div>
			 </div>
			 <div class="m-portlet__body">
				<div class="tab-content">
				   <div class="tab-pane active show" id="m_tabs_9_1" role="tabpanel">
					  <form  class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onAddEmpSubmit(faddemp)" id="addEmployee" #faddemp="ngForm">
					  <div class="form-body">
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Full Name</label>
								  <span class="required" aria-required="true">* </span>
								  <input type="text" class="form-control  m-input m-input--air name-input" name="fullName" id="fullName" [(ngModel)]="addemp.fullName" #fullName="ngModel" [pattern]="'^[a-zA-Z]+(([\'\ \.\-][a-zA-Z])?[a-zA-Z]*)*$'" required>
								  <div class="form-control-feedback has-danger" *ngIf="!fullName.valid">
									 <span *ngIf="faddemp.submitted && !fullName.valid">This field is required.</span>
									 <span *ngIf="fullName.errors?.pattern">special character is not allowed only space is allowed</span>
								  </div>
								  <!-- <div [hidden]="name.valid || name.pristine ||!name.value"
									 class="alert alert-danger">
									 <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
									 </div> -->
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Personal Email</label>
								  <span class="required" aria-required="true">* </span>
								  <input class="form-control m-input m-input--air" lowerCase  name="personalEmail" id="personalEmail" [(ngModel)]="addemp.personalEmail" (blur)="checkEmailExists(personalEmail)" #personalEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"   placeholder="Please Enter Email"   type="text" required>
								  <div class="form-control-feedback has-danger" *ngIf="!personalEmail.valid">
										<span *ngIf="faddemp.submitted && personalEmail.errors?.required">This field is required.</span>
										<span *ngIf="personalEmail.errors?.pattern">Personal Email not valid.</span> 
										<span *ngIf="personalEmail.errors?.emailExists">Email Address already exists.</span> 
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Mobile Number</label>
								  <span class="required" aria-required="true">* </span>
								  <input type="text" class="form-control m-input m-input--air" name="mobileNumber" id="mobileNumber" [(ngModel)]="addemp.personalMobileNumber"  #mobileNumber="ngModel" OnlyNumber="true" minlength="10" maxlength="10" required>
								  <div class="form-control-feedback has-danger" *ngIf="!mobileNumber.valid">
									<span *ngIf="faddemp.submitted && !mobileNumber.valid">This field is required.</span>
									<span *ngIf="mobileNumber.errors?.maxlength">Mobile number must be 10 digit max..</span>
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Company Name</label>
								  <span class="required" aria-required="true"> * </span>
								  <ng-select class="m-input m-input--air" name="companyName" [items]="companiesData" bindLabel="companyName"  bindValue="_id" placeholder="Select Company Name" [(ngModel)]="addemp.company_id"  #companyName="ngModel" (change)="loadHRSpoce(addemp.company_id)" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !companyName.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Division</label>
								  <span class="required" aria-required="true">* </span>
								  <ng-select class="m-input m-input--air" name="division" [items]="divisionData" bindLabel="divisionName"  bindValue="_id" placeholder="Select Division" (change)="loadDepartment(addemp.division_id)"  [(ngModel)]="addemp.division_id"  #division="ngModel" (change)="loadDepartment(addemp.division_id)" [clearable]="false"  required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !division.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Department</label>
								  <span class="required" aria-required="true">* </span>
								  <ng-select class="m-input m-input--air" name="department" [items]="deparmentData" bindLabel="departmentName"  bindValue="_id" placeholder="Select Department" (change)="loadVertical(addemp.department_id)" [(ngModel)]="addemp.department_id" [clearable]="false"  #department="ngModel" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !department.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="form-group m-form__group">
								  <label for="form_control_1">Vertical</label>
								  <ng-select class="m-input m-input--air" name="vertical" [items]="verticalData" bindLabel="verticalName"  bindValue="_id" placeholder="Select Vertical" (change)="loadSubVertical(addemp.vertical_id)" [(ngModel)]="addemp.vertical_id"  #vertical="ngModel" ></ng-select>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Sub Vertical</label>
								  <ng-select class="m-input m-input--air" name="subVertical" [items]="subverticalData" bindLabel="subVerticalName"  bindValue="_id" placeholder="Select Sub Vertical" [(ngModel)]="addemp.subVertical_id"  #subVertical="ngModel"></ng-select>
							   </div>
							</div>
						 </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Management Type</label>
								  <span class="required" aria-required="true"> * </span>
								  <ng-select class="m-input m-input--air" name="managementType" [items]="managementTypeData" bindLabel="managementTypeName"  bindValue="_id" placeholder="Select Management Type" [(ngModel)]="addemp.managementType_id" (change)="loadEmploymentType(addemp.managementType_id)"  #managementType="ngModel" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !managementType.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Employment Type</label>
								  <span class="required" aria-required="true"> * </span>
								  <ng-select class="m-input m-input--air" name="employmentType" [items]="employmentTypeData" bindLabel="employmentTypeName"  bindValue="_id" placeholder="Select Employment Type" [(ngModel)]="addemp.employmentType_id" (change)="loadGrade(addemp.managementType_id,addemp.employmentType_id)"  #employmentType="ngModel" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !employmentType.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 adn-form__group" *ngIf="addemp.employmentType_id==1">
									<div class="m-form__group form-group">
									   <label for="form_control_1">Employment Status</label>
									   <span class="required" aria-required="true"> * </span>
									   <ng-select class="m-input m-input--air" name="confirmationStatus" [items]="employmentStatusData" bindLabel="employmentStatusName"  bindValue="_id" placeholder="Select Confirmation/Probation Status" [(ngModel)]="addemp.employmentStatus_id"  #confirmationStatus="ngModel" [clearable]="false" required></ng-select>
									   <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !confirmationStatus.valid ">
										  This field is required.
									   </div>
									</div>
							</div>
							<div class="col-md-6 adn-form__group" *ngIf="addemp.employmentType_id > 1">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Tenure of Contract/Internship (in months)</label>
								  <span class="required" aria-required="true"> * </span>
								  <input type="text" name="tenure" id="tenure" data-required="1" class="form-control m-input m-input--air" [(ngModel)]="addemp.tenureOfContract" #tenure="ngModel" OnlyNumber="true">
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !tenure.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
									<div class="m-form__group form-group">
									   <label for="form_control_1">Grade</label>
									   <span class="required" aria-required="true">* </span>
									   <ng-select class="m-input m-input--air" name="employeeGrade" [items]="gradeData" bindLabel="gradeName"  bindValue="_id" placeholder="Select Grade" (change)="loadDesignation(addemp.grade_id);loadSupervisor(addemp.grade_id)" [(ngModel)]="addemp.grade_id"  #employeeGrade="ngModel" (change)="loadSupervisor(addemp.grade_id)" [clearable]="false"  required></ng-select>
									   <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !employeeGrade.valid ">
										  This field is required.
									   </div>
									</div>
							</div>
						 </div>
						 <div class="row">								
								<div class="col-md-6 adn-form__group">
								   <div class="m-form__group form-group">
									  <label for="form_control_1">Designation</label>
									  <span class="required" aria-required="true">* </span>
									  <ng-select class="m-input m-input--air" name="designation" [items]="designationData" bindLabel="designationName"  bindValue="_id" placeholder="Select Designation" [(ngModel)]="addemp.designation_id"  #designation="ngModel" [clearable]="false" required></ng-select>
									  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !designation.valid ">
										 This field is required.
									  </div>
								   </div>
								</div>
								<div class="col-md-6 adn-form__group">
										<div class="m-form__group form-group">
										   <label for="form_control_1">Job Title</label>
										   <input type="text" name="jobTitle" id="jobTitle" data-required="1" class="form-control m-input m-input--air" [(ngModel)]="addemp.jobTitle" [(ngModel)]="addemp.jobTitle"  #jobTitle="ngModel">
										</div>
									 </div>
						        </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">Supervisor</label>
								  <span class="required" aria-required="true"> * </span>
								  <ng-select class="m-input m-input--air" name="primarySupervisorEmp" [items]="supervisorData" bindLabel="fullName"  bindValue="_id" placeholder="Select Supervisor" [(ngModel)]="addemp.primarySupervisorEmp_id"  #primarySupervisorEmp="ngModel" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !primarySupervisorEmp.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label for="form_control_1">HR SPOC</label>
								  <span class="required" aria-required="true"> * </span>
								  <ng-select class="m-input m-input--air" name="hrspoc" [items]="hrspocData" bindLabel="fullName"  bindValue="_id" placeholder="Select HR SPOC" [(ngModel)]="addemp.hrspoc_id"  #hrspoc="ngModel" (change)="loadBuisnessHrHead(addemp.hrspoc_id)" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !hrspoc.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="row">
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label class="control-label">Business HR Head
								  </label> 
								  <span class="required" aria-required="true">* </span>                                                          
								  <ng-select class="m-input m-input--air" name="businessHrHead" [items]="buisnessHrHeadData" bindLabel="fullName"  bindValue="_id" placeholder="Select Business HR Head" [(ngModel)]="addemp.businessHrHead_id"  #businessHrHead="ngModel" (change)="loadGroupHrHead(addemp.businessHrHead_id)" [clearable]="false" required></ng-select>  
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !businessHrHead.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
							<div class="col-md-6 adn-form__group">
							   <div class="m-form__group form-group">
								  <label class="control-label">Group HR Head
								  </label>   
								  <span class="required" aria-required="true">* </span>
								  <ng-select class="m-input m-input--air" name="groupHrHead" [items]="groupHrHeadData" bindLabel="fullName"  bindValue="_id" placeholder="Select Group HR Head" [(ngModel)]="addemp.groupHrHead_id"  #groupHrHead="ngModel" [clearable]="false" required></ng-select>
								  <div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !groupHrHead.valid ">
									 This field is required.
								  </div>
							   </div>
							</div>
						 </div>						 
						 <!-- <div class="row">							
								<div class="col-md-6 adn-form__group">
									<div class="m-form__group form-group">
										<label for="form_control_1">User Role</label>
										<span class="required" aria-required="true">* </span>
										<ng-select class="m-input m-input--air" name="role" [items]="rolesData" [multiple]="true" bindLabel="roleName"  bindValue="_id" placeholder="Select User Role" [(ngModel)]="addemp.roles"  #role="ngModel" required></ng-select>
										<div class="form-control-feedback has-danger" *ngIf="faddemp.submitted && !role.valid ">
										     This field is required.
										</div>
									</div>
								</div>
						 </div> -->
					  </div>
					  <div class="form-actions">
						 <div class="row">
							<div class="col-md-12">
							   <div class="m-form__actions">
								  <button class="btn btn-success submitForm" type="submit" id="submitForm">Submit</button>
								  <button class="btn btn-secondary" (click)="faddemp.resetForm();clearFormData();" type="reset">Reset</button>
							   </div>
							</div>
						 </div>
					  </div>
					  </form>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
 </div>