<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            E-Mail
                            <small>
                            </small>
                        </h3>
                    </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <form class="m-form m-form--label-align-right" (ngSubmit)="femail.valid && sendEmail()" #femail="ngForm" novalidate="novalidate">
                                <div class="m-form__section m-form__section--first">   
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            To
                                        </label>
                                        <div class="col-lg-8">
											<!-- <textarea style="resize:none" class="form-control m-input m-input--air" id="exampleTextarea" placeholder="separate emails by (,)" rows="3"></textarea> -->
											<!-- <tag-input  name="t"
														([ngModel])="bulkemail.toemail"
														>
                                            </tag-input> -->
                                            
                                            <input class="form-control m-input m-input--air" [(ngModel]]="objemail.toemail" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__section m-form__section--first">   
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            Subject
                                        </label>
                                        <div class="col-lg-8">
                                            <input class="form-control m-input m-input--air" [(ngModel]]="objemail.subject" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__section m-form__section--first">   
                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-2 col-form-label">
                                                Message
                                            </label>
                                            <div class="col-lg-8">
												<summernote name="test" [(ngModel]]="objemail.htmlBody" [options]="options" [disabled]="disabled"></summernote>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" >Send</button>
                                <div class="m-form__seperator m-form__seperator--dashed"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
