<!-- <div class="m-subheader">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title">
					Leave Quota Provider
				</h3>
			</div>			
		</div>
</div> -->


<div class="m-content">
		<div class="row">
			<div class="col-md-12">
				<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
						<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<h3 class="m-portlet__head-text flaticon-user-add">
												Leave Quota Provider
											<small>
											</small>
										</h3>
									</div>
								</div>
							</div>
			<div class="m-portlet__body">
				<div class="tab-content">
					<div class="tab-pane active show" id="applyLeavePanel" role="tabpanel">
					<form class="m-form m-form--fit m-form--label-align-right" id="leaveQuota"
							#leaveQuota="ngForm">
							<div class="form-body">
		<div class="row">			
			<div class="col-md-6">
				<label>Select Employee</label>
				<ng-select class="m-input m-input--air" name="allemployee" id="allemployee"
				[items]="employees" bindLabel="fullName" bindValue="_id"
				placeholder="Select Employee (emp Id)" [(ngModel)]="selectedEmployee._id"
				[clearable]="false" #allemployee="ngModel" (change)="onEmployeeSelect($event)"></ng-select>
			</div>

			
		
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-md-12">
			<label>
               Leave Balance's
			</label>
			<div>
				<label >
				  Annual: <span style="margin-left: 5px;margin-right: 5px;font-weight: 500">{{annualLeaveBalance}}</span>		
				</label>
				<label >
				 	Sick: <span style="margin-left: 5px;margin-right: 5px;font-weight: 500">{{sickLeaveBalance}}</span>		
				</label>
				<label >
					Special: <span style="margin-left: 5px;margin-right: 5px;font-weight: 500">{{specialLeaveBalance}}</span>		
				</label>
				<label >
					Maternity: <span style="margin-left: 5px;margin-right: 5px;font-weight: 500">{{maternityLeaveBalance}}</span>		
				</label>				
			</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-md-6">
				<label>Select Leave Type</label>
				<ng-select class="m-input m-input--air" name="leaveType" id="leaveType"
				[items]="leaveTypes" bindLabel="type" bindValue="_id"
				placeholder="Select leaveType" [(ngModel)]="request.leave_type"
				[clearable]="false" #leaveType="ngModel"></ng-select>
			</div>
			<div class="col-md-6" style="margin-top:30px">
				<span> Quota (in days)</span>
				<span>
					<input type="text" name="quota" id="quota" class="form-control m-input m-input--air" style="width: 25%;display: inherit;" [(ngModel)]="request.balance"  #quota="ngModel" required>
				</span>
				<span>days</span>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-md-2" style="padding-top:10px">
				Attachements
			</div>
			<div class="col-md-4">
					
				<button class="btn btn-secondary">Browse</button>
				<input type="file" name="" id="">
			</div>
			<div class="col-md-6 m-radio-inline" *ngIf="request.leave_type==4">					
					<label class="m-radio">
					<input name="ispaid" id="paid" type="radio"  [value]="true"checked="checked" [(ngModel)]="request.is_paid" #paid="ngModel"> Paid
					<span></span>
					</label>
					<label class="m-radio">
					<input name="ispaid" id="unpaid" type="radio" [value]="false" [(ngModel)]="request.is_paid" #unpaid="ngModel"> Unpaid
					<span></span>
					</label>													
			</div>
		</div>
		<div class="form-actions "style="margin-top:20px">
				<div class="row">
					<div class="col-md-12">
						<div class="m-form__actions">
							<button class="btn btn-success" (click)="provideLeave()">Provide</button>							
							<button class="btn btn-secondary" >Clear</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

