@import "../../../../../../../../assets/colors";

app-my-leaves-dashboard-employee {
    width: 100%;

    & > .m-content {
        padding-bottom: 0px !important;
        height: 100rem;
    }

    .m-portlet.m-portlet--warning.m-portlet--head-solid-bg {
        background: unset;
        background-color: unset;
    }

    .leave-balance-card {
        &.annual-leave {
            background-color: $color-annual-leave;
        }

        &.sick-leave {
            background-color: $color-sick-leave;
        }

        h3, div, span {
            color: white !important;
        }
    }

    .m-accordion .m-accordion__item--green {
        border: 1px solid #198F4A !important;

        .m-accordion__item-head, .m-accordion .m-accordion__item--green .m-accordion__item-head:hover {
            background-color: #198F4A !important;
        }

        .m-accordion__item-head .m-accordion__item-mode {
            color: #ffffff !important;
        }

        .m-accordion__item-title {
            color: white;
        }
    }

    .applyLeaveBtn {
        .btn {
            margin: 3rem;
        }
    }

    .leave-balance-portlet {
        .m-widget1 {
            padding: .8rem 2rem;

            .block {
                width: 100%;
                text-align: center;
            }
        }
    }

    .nav.nav-pills.nav-pills--brand .nav-link {
        &.active {
            background: whitesmoke;
            color: black;
        }

        i {
            color: #198F4A !important;
        }
    }

    .leaveBalance {
        .m-widget4__info {
            span {
                &.title {
                    color: #000;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    .nav {
        li {
            cursor: pointer;
        }
    }

    .holidayGrid {
        .m_datatable {
            table {
                thead {
                    tr {}
                }

                tbody {
                    tr {}

                    td {
                        padding-top: 15px !important;
                        padding-bottom: 15px !important;
                    }
                }
            }
        }
    }
}

app-my-leaves-chart-monthly-leave {
    #chartdiv {
        height: 300px !important;
    }
}
