<div class="m-content">
    <div class="row">
        <div class="col-md-10">
            <div class="m-portlet leave-balance-portlet">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-md-3" *ngFor="let bal of leaveBalance">
                        <div class="m-widget1">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="block">
                                        <h3 class="m-widget1__title">
                                            {{bal.leaveType}}
                                        </h3>
                                    </div>
                                    <div class="block">
                                        <span class="m-widget1__number m--font-accent">
                                            <span class="big-h1">{{bal.appliedLeave}}</span>
                                            <span style="color: #a9a1a1 !important">/ {{bal.allotedLeave}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 applyLeaveBtn text-center">
            <button class="btn btn-success" (click)="gotoApplyLeave()">
                <i class="fa fa-plus"></i> Apply Leave</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Overview
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="fromDate"
                                            [(ngModel)]="overviewChartFilter" (ngModelChange)="getOverviewChartData()" placeholder="Select Month"
                                            readonly>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <app-my-leaves-chart-monthly-leave [chartData]="overviewChartData"></app-my-leaves-chart-monthly-leave>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Holidays
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="fromDate"
                                            [(ngModel)]="holidayFilter" (ngModelChange)="getHolidays()" placeholder="Select Month"
                                            readonly>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget6 holidayGrid">
                        <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="m_datatable_latest_orders">
                            <table class="m-datatable__table" style="display: block; min-height: 300px; max-height: 380px;">
                                <thead class="m-datatable__head">
                                    <tr class="m-datatable__row" style="left: 0px;">
                                        <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                                            <span>Holiday</span>
                                        </th>
                                        <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                            <span class="pull-right">Date</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="m-datatable__body ps ps--active-x ps--active-y" style="max-height: 324.727px;">
                                    <tr data-row="0" class="m-datatable__row" style="left: 0px;" *ngFor="let holiday of upcomingHolidays">
                                        <td data-field="ShipName" class="m-datatable__cell">
                                            <span>{{holiday.occasion}}</span>
                                        </td>
                                        <td data-field="ShipDate" class="m-datatable__cell">
                                            <span class="pull-right">{{holiday.date | date:'dd-MMM-yyy'}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Recent Transactions
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="fromDate"
                                                [(ngModel)]="transactionFilter.date" (ngModelChange)="getTransactions()" placeholder="Select Month"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{transactionFilter.status}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="#" *ngFor="let status of leaveStatuses" (click)="transactionFilter.status = status; getTransactions();">
                                                {{status}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">
                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--green">
                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body"
                                aria-expanded="true">
                                <span class="m-accordion__item-title">
                                </span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse show" id="m_accordion_5_item_1_body">
                                <div class="m-accordion__item-content">
                                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="m_datatable_latest_orders">
                                        <table class="m-datatable__table">
                                            <thead class="m-datatable__head">
                                                <tr class="m-datatable__row" style="left: 0px;">

                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 150px;">Leave Type
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">From</span>
                                                    </th>
                                                    <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">To</span>
                                                    </th>
                                                    <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Days</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Status</span>
                                                    </th>

                                                    <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Actions</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="m-datatable__body">
                                                <tr data-row="0" class="m-datatable__row" style="left: 0px;" *ngFor="let tran of recentTransactions">
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 150px;" (click)="showLeaveDetail(tran._id, leaveDetailModal)">{{tran.leaveTypeName}}</span>
                                                    </td>
                                                    <td data-field="ShipName" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{tran.fromDate | date:'dd MMMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{tran.toDate | date:'dd MMMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{tran.days}}</span>
                                                    </td>
                                                    <td data-field="Status" class="m-datatable__cell">
                                                        <span style="width: 80px;">
                                                            <span class="m-badge  m-badge--warning m-badge--wide">{{tran.status}}</span>
                                                        </span>
                                                    </td>
                                                    <td data-field="Actions" class="m-datatable__cell">
                                                        <span style="overflow: visible; position: relative; width: 110px;">
                                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Withdraw"
                                                                (click)="showLeaveDetail(tran._id, leaveDetailModal)">
                                                                <i class="la la-remove"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <!-- <span *ngIf="recentTransactions?.length==0" class="m-datatable--error">No records found</span> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Section-->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #leaveDetailModal>
    <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height leaveDetailsPortlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Leave Details
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-widget6 ">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img" src="./assets/app/media/img/custom/users/user6.jpg">
                    </div>
                    <div class="col-md-9">
                        <span class="name">
                            {{leaveDetails?.leave?.emp_name?.fullName}}
                        </span>
                        <span class="empId">
                            ({{leaveDetails?.leave?.emp_name?.userName}})
                        </span>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-12 form-group">
                        <span class="key">Leave Type</span>
                        <span class="value">{{leaveDetails?.leave?.leaveTypes?.type}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">From Date</span>
                        <span class="value">{{leaveDetails?.leave?.fromDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">To Date</span>
                        <span class="value">{{leaveDetails?.leave?.toDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Applied On</span>
                        <span class="value">{{leaveDetails?.leave?.createdAt | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Status</span>
                        <span class="value">{{leaveDetails?.leave?.status}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Days</span>
                        <span class="value">{{leaveDetails?.leave?.days}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Leave Balance</span>
                        <span class="value"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <span class="key">Apporval Authority</span>
                        <span class="value">{{leaveDetails?.leave?.primarySupervisor?.fullName}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                        <span class="key">Apporval Authority Remarks</span>
                        <span class="value">{{leaveDetails?.leave?.supervisorReason}}</span>
                    </div>
                    <div class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Reason</label>
                            <textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3" value="{{leaveDetails?.leave?.reason}}"
                                disabled="true"></textarea>
                        </div>
                    </div>
                    <div *ngIf="leaveDetails?.leave?.status == 'Approved'" class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Remarks</label>
                            <textarea name="reason" id="remarks" class="form-control m-input m-input--air" rows="3" placeholder="Remarks" [(ngModel)]="leaveDetails.remarks"
                                #remarks="ngModel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-form__actions">
                                <button *ngIf="leaveDetails?.leave?.status == 'Approved'" class="btn btn-success" (click)="cancelWithdrawLeave()">Withdraw Leave</button>
                                <button *ngIf="leaveDetails?.leave?.status == 'Availed'" class="btn btn-success" (click)="cancelWithdrawLeave()">Cancel Leave</button>
                                <button class="btn btn-secondary" (click)="modalRef.hide()" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>