<div class="m-content" *ngIf="!param_emp_id">
    <div class="m-portlet m-portlet--tabs m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <i class="fa fa-list"></i>
                        Initiate Grievance Phase
                        <small>
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-6 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-8">
                                <!-- Search Box -->
                                <!-- <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid"
                                        placeholder="Search..." [(ngModel)]="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div> -->
                                <div class="m-form__group form-group">
                                    <label for="form_control_1">Department</label>
                                    <ng-select class="m-input m-input--air" name="department" [items]="deparmentData"
                                        [multiple]="true" bindLabel="departmentName" bindValue="_id"
                                        placeholder="Select Department" [(ngModel)]="filterBy.departments"
                                        [clearable]="false"></ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btnFilter" type="button"
                                    (click)="filterEmployees()">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded"
                [ngClass]="{'m-datatable--error': (filteredGrievancePap | orderBy: key : reverse | filter:search)?.length==0 }">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                            <th (click)="sort('userName')" class="m-datatable__cell m-datatable__cell--sort" width="5%">
                                <span>
                                    ID
                                    <i class="la" *ngIf="key == 'userName'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('fullName')" class="m-datatable__cell m-datatable__cell--sort"
                                width="15%">
                                <span>
                                    NAME
                                    <i class="la" *ngIf="key == 'fullName'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>

                            <th (click)="sort('officeEmail')" class="m-datatable__cell m-datatable__cell--sort"
                                width="15%">
                                <span>
                                    EMAIL
                                    <i class="la" *ngIf="key == 'officeEmail'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('designation')" class="m-datatable__cell m-datatable__cell--sort"
                                width="15%">
                                <span>
                                    DESIGNATION
                                    <i class="la" *ngIf="key == 'designation'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('designation')" class="m-datatable__cell m-datatable__cell--sort"
                                width="15%">
                                <span>
                                    DEPARTMENT
                                    <i class="la" *ngIf="key == 'department'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('overallRating')" class="m-datatable__cell m-datatable__cell--sort"
                                width="10%">
                                <span>
                                    OVERALL RATING
                                    <i class="la" *ngIf="key == 'overallRating'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('overallRating')" class="m-datatable__cell m-datatable__cell--sort"
                                width="10%">
                                <span>
                                    GRIEVANCE END DATE
                                    <i class="la" *ngIf="key == 'overallRating'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                            <th (click)="sort('status')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                                <span>
                                    STATUS
                                    <i class="la" *ngIf="key == 'status'"
                                        [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body" id="allEmployee-loader">
                        <tr class="m-datatable__row" [ngClass]="{'m-datatable__row--even':!even}"
                            *ngFor="let employee of filteredGrievancePap | orderBy: key : reverse | filter:search ;let even=even;">
                            <td class="m-datatable__cell" width="5%">
                                <span>{{employee.employeedetails.userName}}</span>
                            </td>
                            <td class="m-datatable__cell" width="15%">
                                <span>{{employee.employeedetails.fullName}}</span>
                            </td>
                            <td class="m-datatable__cell" width="15%">
                                <span>{{employee.employeeofficedetails.officeEmail}}</span>
                            </td>
                            <td class="m-datatable__cell" width="15%">
                                <span>{{employee.designations?.designationName}}</span>
                            </td>
                            <td class="m-datatable__cell" width="15%">
                                <span>{{employee.department?.departmentName}}</span>
                            </td>
                            <td class="m-datatable__cell" width="10%">
                                <span>{{employee.overallRating}}</span>
                            </td>
                            <td class="m-datatable__cell" width="10%">
                                <span>{{employee.grievanceRaiseEndDate | date:'dd-MMM-yyyy'}}</span>
                            </td>
                            <td class="m-datatable__cell" width="15%">
                                <!-- <span>{{employee.reviewerStatus}}</span> -->
                                <span style="width: 100px;">
                                    <span *ngIf="employee.grievanceRaiseEndDate != null"
                                        class="m-badge m-badge--wide m-badge--success">Initiated</span>
                                </span>
                            </td>
                        </tr>
                        <span *ngIf="(filteredGrievancePap | orderBy: key : reverse | filter:search)?.length==0"
                            class="m-datatable--error">No
                            records found</span>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="m-portlet__foot">
            <div class="row">
                <div class="col-xl-6 order-2 order-xl-2">
                    <form id="grievanceInitPhase" #fGrievanceInitPhase="ngForm"
                        (ngSubmit)="initGrievancePhase(fGrievanceInitPhase)">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="grievanceEndDateName">Grievance End Date </label>
                                <span class="required" aria-required="true"> * </span>
                                <input name="grievanceEndDateName" class="form-control m-input m-input--air"
                                    #grievanceEndDateModel="ngModel" placeholder="Enter Grievance End Date"
                                    [(ngModel)]="grievanceEndDate" bsDatepicker [readonly]="true"
                                    [minDate]="currentDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    #grievanceEndDateModel="ngModel" placement="bottom" required>
                                <div class="form-control-feedback has-danger"
                                    *ngIf="fGrievanceInitPhase.submitted && grievanceEndDateModel.invalid">
                                    This field is required.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success" type="submit">Initiate Grievance
                                    Phase</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>