modal-container {
    .kraDetailsPortlet {
        .m-portlet__body {
            .flex {
                display: flex;
            }

            .block {
                display: block;
            }

            .img {
                width: 100% !important;
            }

            .name {
                display: block;
                font-size: 1.5rem;
            }

            .empId {
                display: block;
            }

            .details {
                padding-top: 2rem;

                .value {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.sendBack {
    background-color: #FFEBEE !important;
    border: 0px !important;
}

.sendBack:hover {
    background-color: #FFEBEE !important;
    border: 0px !important;
}

.approved {
    background-color: #E8F5E9 !important;
    border: 0px !important;
}

.approved :hover {
    background-color: #E8F5E9 !important;
    border: 0px !important;
}
