<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text flaticon-user-add">
                                Post Leave Transaction
                                <small>
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="applyLeavePanel" role="tabpanel">
                            <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onLeaveTransactionSubmit(fleavetransaction)" id="fleavetransaction"
                                #fleavetransaction="ngForm">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">Select Employee</label>
                                                <span class="required" aria-required="true"> * </span>
                                                <ng-select class="m-input m-input--air" name="employee" bindValue="_id" bindLabel="FullName" [items]="employeeList" [(ngModel)]="leavetransaction.employee"
                                                    id="employees" #employee="ngModel" placeholder="" required></ng-select>
                                                <div class="form-control-feedback has-danger" *ngIf="fleavetransaction.submitted && !employees.valid ">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">Leave Type</label>
                                                <span class="required" aria-required="true"> * </span>
                                                <ng-select class="m-input m-input--air" name="leaveType" bindValue="_id" bindLabel="type" [items]="leaveTypesDetails" [(ngModel)]="leavetransaction.leavetype"
                                                    id="leavetype" #leavetype="ngModel" placeholder="" required></ng-select>
                                                <div class="form-control-feedback has-danger" *ngIf="fleavetransaction.submitted && !leavetype.valid ">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">From Date</label>
                                                <span class="required" aria-required="true">* </span>
                                                <input type="text" class="form-control m-input m-input--air" name="fromDate" (ngModelChange)="calculateDays($event, 'fromDate')"
                                                    [(ngModel)]="leavetransaction.fromDate" #fromDate="ngModel" bsDatepicker
                                                    [readonly]="true" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="fromDate"
                                                    required>
                                                <div class="form-control-feedback has-danger" *ngIf="!fromDate.valid">
                                                    <span *ngIf="fleavetransaction.submitted && !fromDate.valid">This field is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">To Date</label>
                                                <span class="required" aria-required="true">* </span>
                                                <input type="text" class="form-control m-input m-input--air" name="toDate" (ngModelChange)="calculateDays($event, 'toDate')"
                                                    bsDatepicker [readonly]="true" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                                    id="toDate" [(ngModel)]="leavetransaction.toDate" #toDate="ngModel" required>
                                                <div class="form-control-feedback has-danger" *ngIf="!toDate.valid">
                                                    <span *ngIf="fleavetransaction.submitted && !toDate.valid">This field is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">Days</label>
                                                <span class="required" aria-required="true">* </span>
                                                <input type="text" name="days" class="form-control m-input m-input--air" OnlyNumber="true" [(ngModel)]="leavetransaction.days"
                                                    #days="ngModel" disabled>
                                                <div class="form-control-feedback has-danger" *ngIf="fleavetransaction.submitted">
                                                    <span *ngIf="!areDaysValid">Days cant be 0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">Balance</label>
                                                <span class="required" aria-required="true">* </span>
                                                <input type="text" class="form-control m-input m-input--air" name="balance" id="balance" [(ngModel)]="leavetransaction.balance"
                                                    #balance="ngModel" OnlyNumber="true" disabled>
                                                <div class="form-control-feedback has-danger" *ngIf="fleavetransaction.submitted">
                                                    <span *ngIf="!isBalanceValid">Not enough balance</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 adn-form__group">
                                            <div class="m-form__group form-group">
                                                <label for="form_control_1">Reason</label>
                                                <span class="required" aria-required="true"> * </span>
                                                <textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3" [(ngModel)]="leavetransaction.reason"
                                                    #reason="ngModel" required></textarea>
                                                <div class="form-control-feedback has-danger" *ngIf="fleavetransaction.submitted && !reason.valid">
                                                    This field is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="m-form__actions">
                                                <button class="btn btn-success submitForm" type="submit" id="submitForm">Apply</button>
                                                <button class="btn btn-secondary" (click)="fleavetransaction.resetForm();InitValues();" type="button">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>