<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login" appunwraptag="">
        <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
            <div class="m-stack m-stack--hor m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid">
                    <div class="m-login__wrapper">
                        <div class="m-login__logo">
                            <a href="#">
                                <img src="./assets/app/media/img/custom/logos/logo-4.png">
                            </a>
                        </div>
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Sign In To ADN HRIS
                                </h3>
                                <div class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show" role="alert">
                                    Enter your 
                                    <span style="font-weight: 600;">
                                            Employee ID as Username 
                                    </span>
                                    and provided Password to continue.
                                </div>
                            </div>
                            <form class="m-login__form m-form" (ngSubmit)="flogin.valid && login()" #flogin="ngForm">
                                <div *ngIf="error" class="m-alert m-alert--outline alert alert-danger alert-dismissible" >
                                        <button class="close" type="button" (click)="error=!error"></button>
                                        <span>{{errorMsg}}</span>
                                </div>
                               
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Username" name="userName" [(ngModel)]="loginModel.userName" #userName="ngModel" required>
                                    <div class="form-control-feedback has-danger" *ngIf="!userName.valid">
                                        <span *ngIf="flogin.submitted && !userName.valid">This field is required.</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password" [(ngModel)]="loginModel.password" #password="ngModel" required>
                                    <div class="form-control-feedback has-danger" *ngIf="!password.valid">
                                            <span *ngIf="flogin.submitted && !password.valid">This field is required.</span>
                                          </div>
                                </div>
                                <div class="row m-login__form-sub">
                                    <!-- <div class="col m--align-left">
                                        <label class="m-checkbox m-checkbox--focus">
                                            <input type="checkbox" name="remember">
                                            Remember me
                                            <span></span>
                                        </label>
                                    </div> -->
                                    <div class="col m--align-right">
                                        <a class="m-link" id="m_login_forget_password" routerLink="/reset" >
										Forgot Password ?
									</a>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button class="btn btn-success btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" type="submit"   [ngClass]="{'m-loader m-loader--right m-loader--light' :loading}">
                                        Sign In
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-login-slider">
            <!-- <div class="m-grid__item m-grid__item--middle">
               <h3 class="m-login__welcome">
                  Having Trouble Sign In?
               </h3>
               <p class="m-login__msg">
                  For queries contact hris@adnsl.net
               </p>
            </div> -->
         </div>        
</div>
    