<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
		<i class="la la-close"></i>
	</button>
	<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
		<!-- BEGIN: Aside Menu -->
		<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
			<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow" >
				<li class="m-menu__section" *ngIf="authService.atCurrentUserData?.roles.indexOf('Admin') >-1">
					<h4 class="m-menu__section-text m--font-boldest">
						<span class="m--font-boldest">
							Super Admin
						</span>
					</h4>
					<i class="m-menu__section-icon flaticon-more-v3"></i>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" *ngIf="authService.atCurrentUserData?.roles.indexOf('Admin') >-1" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-user-circle"></i>
						<span class="m-menu__link-text">
							Admin
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/admin/masterData" class="m-menu__link">
									<i class="m-menu__link-bullet la la-inbox">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Master Data
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/admin/configure" class="m-menu__link">
									<i class="m-menu__link-bullet la la-cog">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Configure
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="m-menu__section" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1">
					<h4 class="m-menu__section-text">
						HR Panel
					</h4>
					<i class="m-menu__section-icon flaticon-more-v3"></i>
				</li>
				<li class="m-menu__item" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
					<a  routerLink="/hr/dashboard" class="m-menu__link">
						<i class="m-menu__link-icon fa fa-th"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">
									Dashboard
								</span>
								<!-- <span class="m-menu__link-badge">
									<span class="m-badge m-badge--danger">
										2
									</span>
								</span> -->
							</span>
						</span>
					</a>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-gear"></i>
						<span class="m-menu__link-text">
							 Workflows
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
								<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
										<a  routerLink="/hr/workflows/initiate" class="m-menu__link">
											<i class="m-menu__link-bullet la la-reply">
												<span></span>
											</i>
											<span class="m-menu__link-text">
												Initiate
											</span>
										</a>
									</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/workflows/pap" class="m-menu__link">
									<i class="m-menu__link-bullet la la-tasks">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Kra
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/workflows/learning" class="m-menu__link">
									<i class="m-menu__link-bullet la la-book">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Learning
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/workflows/pip" class="m-menu__link">
									<i class="m-menu__link-bullet la la-lightbulb-o">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										PIP
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="m-menu__item" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
					<a  routerLink="/hr/directory" class="m-menu__link">
						<i class="m-menu__link-icon fa fa-folder-open"></i>
						<span class="m-menu__link-title">
							<span class="m-menu__link-wrap">
								<span class="m-menu__link-text">
									 Directory
								</span>
							</span>
						</span>
					</a>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-envelope-open"></i>
						<span class="m-menu__link-text">
							Email
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/email/bulk" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-envelope">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Bulk Email
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/email/broadcast" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-bullhorn">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Broadcasts
									</span>
								</a>
							</li>
	
						</ul>
					</div>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" *ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-group"></i>
						<span class="m-menu__link-text">
							Employees
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/employee/all" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-users">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										All Employees
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/hr/employee/add" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-user-plus">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Add New Employee
									</span>
								</a>
							</li>
	
						</ul>
					</div>
				</li>
				<li class="m-menu__section" *ngIf="authService.atCurrentUserData?.roles.indexOf('Reviewer') >-1 ||authService.atCurrentUserData?.roles.indexOf('Supervisor') >-1">
					<h4 class="m-menu__section-text">
						Team
					</h4>
					<i class="m-menu__section-icon flaticon-more-v3"></i>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" *ngIf="authService.atCurrentUserData?.roles.indexOf('Reviewer') >-1 ||authService.atCurrentUserData?.roles.indexOf('Supervisor') >-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-gear"></i>
						<span class="m-menu__link-text">
							 Workflows
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/team/workflows/supervisor" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-male">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										As Supervisor
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/team/workflows/reveiwer" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-street-view">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										As Reviewer
									</span>
								</a>
							</li>
	
						</ul>
					</div>
				</li>
				<li class="m-menu__section">
					<h4 class="m-menu__section-text">
						My
					</h4>
					<i class="m-menu__section-icon flaticon-more-v3"></i>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-gear"></i>
						<span class="m-menu__link-text">
							 Workflows
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/workflows/pap" class="m-menu__link">
									<i class="m-menu__link-bullet la la-tasks">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										PAP
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/workflows/learning" class="m-menu__link">
									<i class="m-menu__link-bullet la la-book">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Learning
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/workflows/pip" class="m-menu__link">
									<i class="m-menu__link-bullet  la la-lightbulb-o">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										PIP
									</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
					<a  href="#" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon fa fa-bed"></i>
						<span class="m-menu__link-text">
							 Leaves
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					<div class="m-menu__submenu">
						<span class="m-menu__arrow"></span>
						<ul class="m-menu__subnav">
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
									<a routerLink="/my/leaves/dashboard" class="m-menu__link">
										<i class="m-menu__link-bullet fa fa-table">
											<span></span>
										</i>
										<span class="m-menu__link-text">
											Dashboard
										</span>
									</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/leaves/apply" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-sign-out">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Apply Leave
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/leaves/list" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-list-alt">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Leave List
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/leaves/calender" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-calendar">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Calender
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/leaves/holidays" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-plane">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Holidays
									</span>
								</a>
							</li>
							<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<a  routerLink="/my/leaves/reports" class="m-menu__link">
									<i class="m-menu__link-bullet fa fa-bar-chart-o">
										<span></span>
									</i>
									<span class="m-menu__link-text">
										Reports
									</span>
								</a>
							</li>
	
						</ul>
					</div>
				</li>
				<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
						<a  routerLink="/my/profile" class="m-menu__link">
							<i class="m-menu__link-icon fa fa-user"></i>
							<span class="m-menu__link-title">
								<span class="m-menu__link-wrap">
									<span class="m-menu__link-text">
										 Profile
									</span>
								</span>
							</span>
						</a>
					</li>
				<!-- <li class="m-menu__section">
					<h4 class="m-menu__section-text">
						My Apps
					</h4>
					<i class="m-menu__section-icon flaticon-more-v3"></i>
				</li> -->
			</ul>
		</div>
		<!-- END: Aside Menu -->
	</div>
	<!-- END: Left Aside -->
	