<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
		data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__section" *ngIf="authService.atCurrentUserData?.roles.indexOf('Admin') >-1">
				<h4 class="m-menu__section-text m--font-boldest">
					<span class="m--font-boldest">
						Super Admin
					</span>
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Admin') >-1"
				routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-user-circle"></i>
					<span class="m-menu__link-text">
						Admin
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/admin/masterData" class="m-menu__link">
								<i class="m-menu__link-bullet la la-inbox">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Master Data
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/admin/configure" class="m-menu__link">
								<i class="m-menu__link-bullet la la-cog">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Configure
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__section"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1">
				<h4 class="m-menu__section-text">
					HR Panel
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/hr/dashboard" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-th"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-gear"></i>
					<span class="m-menu__link-text">
						Workflows
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/initiate" class="m-menu__link">
								<i class="m-menu__link-bullet la la-reply">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Initiate KRA
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/batch" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									KRA Batch
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/mtr/batch-init" class="m-menu__link">
								<i class="m-menu__link-bullet la la-reply">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Mid Term Review Initiate
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/mtr/batch" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Mid Term Review Batch
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/learning" class="m-menu__link">
								<i class="m-menu__link-bullet la la-reply">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Initiate Learning
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/learn/batch" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Learning Batch
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/pap/batch-init" class="m-menu__link">
								<i class="m-menu__link-bullet la la-reply">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PAP Initiate
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/pap/batch" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PAP Batch
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/pip" class="m-menu__link">
								<i class="m-menu__link-bullet la la-reply">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PIP Initiate
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/pip/batch" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PIP Batch
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/view" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PIP View
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/pap/feedback-init" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Initiate feedback
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/workflows/grievance/all-employee" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Grievance
								</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu"
				*ngIf="false && authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-envelope-open"></i>
					<span class="m-menu__link-text">
						Email
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/email/bulk" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-envelope">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Bulk Email
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-group"></i>
					<span class="m-menu__link-text">
						Employees
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/employee" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-users">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									All Employees
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/employee/add" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-user-plus">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Add New Employee
								</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
			<li class="m-menu__item"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/hr/transferresponsiblity" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-th"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Supervisor Revision
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="false && authService.atCurrentUserData?.roles.indexOf('HR') > -1">
				<a routerLink="/my/leaves/dashboard/hr" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bed"></i>
					<span class="m-menu__link-text">
						Leaves
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('HR') > -1">
				<a routerLink="/hr/quotaProvider" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-calendar-plus-o"></i>
					<span class="m-menu__link-text">
						Quota Provider
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.userName == '2000114'">
				<a routerLink="/hr/hrHeads" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-calendar-plus-o"></i>
					<span class="m-menu__link-text">
						All HR
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu"
				*ngIf="false && authService.atCurrentUserData?.roles.indexOf('HR') >-1 || authService.atCurrentUserData?.roles.indexOf('HR2') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-envelope-open"></i>
					<span class="m-menu__link-text">
						Reports
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/hr/reports/pap-eval-report" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-envelope">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Pap Eval Report
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__section"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Reviewer') >-1 || authService.atCurrentUserData?.roles.indexOf('Supervisor') >-1">
				<h4 class="m-menu__section-text">
					Team
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>

			<li class="m-menu__item  m-menu__item--submenu"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Reviewer') >-1 ||authService.atCurrentUserData?.roles.indexOf('Supervisor') >-1"
				routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-submenu-toggle="hover">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-gear"></i>
					<span class="m-menu__link-text">
						Workflows
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/team/workflows/supervisor" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-male">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									As Supervisor
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/team/workflows/reveiwer" class="m-menu__link">
								<i class="m-menu__link-bullet fa fa-street-view">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									As Reviewer
								</span>
							</a>
						</li>

					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Supervisor') > -1">
				<a routerLink="/my/leaves/dashboard/supervisor" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bed"></i>
					<span class="m-menu__link-text">
						Leaves
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Supervisor') > -1">
				<a routerLink="/my/team/subordinate/employee/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bed"></i>
					<span class="m-menu__link-text">
						Subordinate Transaction History
					</span>
				</a>
			</li>
			<li class="m-menu__section" *ngIf="authService.atCurrentUserData?.roles.indexOf('Employee') >-1">
				<h4 class="m-menu__section-text">
					My
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
				routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Employee') >-1">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-gear"></i>
					<span class="m-menu__link-text">
						Workflows
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/workflows/kra" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									KRA
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/workflows/mtr" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Mid Term Review
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/workflows/pap" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PAP
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/learning" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Learning
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active"
							routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/my/workflows/pip" class="m-menu__link">
								<i class="m-menu__link-bullet la la-tasks">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									PIP
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" data-menu-submenu-toggle="hover"
				*ngIf="authService.atCurrentUserData?.roles.indexOf('Employee') >-1">
				<a routerLink="/my/leaves/dashboard/employee" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon fa fa-bed"></i>
					<span class="m-menu__link-text">
						Leaves
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" *ngIf="authService.atCurrentUserData?.roles.indexOf('Employee') >-1">
				<a routerLink="/my/profile" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-user"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Profile
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
				aria-haspopup="true" *ngIf="authService.atCurrentUserData?.roles.indexOf('Employee') >-1">
				<a routerLink="/my/documents" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-file"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Documents
							</span>
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>