<div class="m-content">
    <div class="row">
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Monthly Graphical Report
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="overviewChartDataFilterDate"
                                            [(ngModel)]="overviewChartDataFilter.date" (ngModelChange)="getOverviewChartData()"
                                            placeholder="Select Month" readonly>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <app-my-leaves-chart-monthly-leave [chartData]="overviewChartData"></app-my-leaves-chart-monthly-leave>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height teamOnLeavePortlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Team On Leave
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="teamLeavesFilterDate"
                                            [(ngModel)]="teamLeavesFilter.date" (ngModelChange)="getTeamLeaves()" placeholder="Select Month"
                                            readonly>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget6 teamOnLeaveGrid">
                        <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="m_datatable_latest_orders">
                            <table class="m-datatable__table">
                                <thead class="m-datatable__head">
                                    <tr class="m-datatable__row">
                                        <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                                            <span>Name</span>
                                        </th>
                                        <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                            <span>Leave Period</span>
                                        </th>
                                        <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                            <span>Days</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="m-datatable__body ps ps--active-x ps--active-y" *ngFor="let leave of teamLeaves">
                                    <tr data-row="0" class="m-datatable__row">
                                        <td data-field="ShipName" class="m-datatable__cell">
                                            <span>{{leave.employeeDetails.fullName}}</span>
                                        </td>
                                        <td data-field="ShipDate" class="m-datatable__cell">
                                            <span>{{leave.leavedetails.fromDate | date:'dd MMM yyy'}} to {{leave.leavedetails.toDate
                                                | date:'dd MMM yyy'}}</span>
                                        </td>
                                        <td data-field="ShipDate" class="m-datatable__cell">
                                            <span>{{leave.leavedetails.days}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm recentTransactionPortlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Leave Approval
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <ng-select class="m-input m-input--air" name="employee" placeholder="Select Employee" bindValue="employeeDetails._id" bindLabel="employeeDetails.fullName"
                                    [items]="supervisorTeamEmployeeList" [(ngModel)]="leaveApprovalFilter.employeeId" (ngModelChange)="getTeamLeavesForApproval()"
                                    [clearable]="true"></ng-select>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <div class="btn-group" role="group">
                                    <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="leaveApprovalFilterDate"
                                        [(ngModel)]="leaveApprovalFilter.date" (ngModelChange)="getTeamLeavesForApproval()" placeholder="Select Month"
                                        readonly>
                                </div>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <ng-select class="m-input m-input--air" name="employee" placeholder="Select Leave Type" bindValue="_id" bindLabel="type"
                                    [items]="leaveTypeList" [(ngModel)]="leaveApprovalFilter.leaveTypeId" (ngModelChange)="getTeamLeavesForApproval()"
                                    [clearable]="true"></ng-select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">
                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--green">
                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body"
                                aria-expanded="true">
                                <span class="m-accordion__item-title">
                                </span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse show" id="m_accordion_5_item_1_body">
                                <div class="m-accordion__item-content">
                                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="m_datatable_latest_orders">
                                        <table class="m-datatable__table">
                                            <thead class="m-datatable__head">
                                                <tr class="m-datatable__row" style="left: 0px;">
                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 150px;">Employee Name
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 150px;">ID
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>

                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 150px;">Leave Type
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">From</span>
                                                    </th>
                                                    <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">To</span>
                                                    </th>
                                                    <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Days</span>
                                                    </th>

                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Created On</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Created By</span>
                                                    </th>

                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Updated On</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Updated By</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Status</span>
                                                    </th>
                                                    <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Actions</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="m-datatable__body ps ps--active-x ps--active-y" style="max-height: 324.727px;">
                                                <tr data-row="0" class="m-datatable__row" style="left: 0px;" *ngFor="let leave of leavesForApproval">
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span (click)="showLeaveDetail(leave.leavedetails._id, leaveDetailModal)" style="width: 150px;">{{leave.employeeDetails?.fullName}}</span>
                                                    </td>
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 150px;">{{leave.employeeDetails?.userName}}</span>
                                                    </td>
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 150px;">{{leave.leaveTypeName}}</span>
                                                    </td>
                                                    <td data-field="ShipName" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.fromDate | date:'dd MMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.toDate | date:'dd MMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.days}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.createdAt | date:'dd MMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.createdByName?.fullName}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.updatedAt | date:'dd MMM yyy'}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.updatedByName?.fullName}}</span>
                                                    </td>
                                                    <td data-field="Status" class="m-datatable__cell">
                                                        <span style="width: 80px;">
                                                            <span class="m-badge m-badge--primary m-badge--wide">{{leave.leavedetails?.status}}</span>
                                                        </span>
                                                    </td>
                                                    <td data-field="Actions" class="m-datatable__cell">
                                                        <span style="overflow: visible; position: relative; width: 110px;">
                                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" title="Approve"
                                                                (click)="approveRejectLeave(leave.leavedetails._id, leave.leavedetails.status, 'Approved')">
                                                                <i class="fa fa-check"></i>
                                                            </a>

                                                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Reject"
                                                                (click)="approveRejectLeave(leave.leavedetails._id, leave.leavedetails.status, 'Reject')">
                                                                <i class="la la-remove"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Section-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm teamLeavesPortlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Team Leaves
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <ng-select class="m-input m-input--air" name="employee" placeholder="Select Employee" bindValue="employeeDetails._id" bindLabel="employeeDetails.fullName"
                                    [items]="supervisorTeamEmployeeList" [(ngModel)]="leaveTransactionsFilter.employeeId" (ngModelChange)="getTeamLeavesTransactions()"
                                    [clearable]="true"></ng-select>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <div class="btn-group" role="group">
                                    <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" type="text" class="form-control m-input m-input--air" name="leaveTransactionsFilterDate"
                                        [(ngModel)]="leaveTransactionsFilter.date" (ngModelChange)="getTeamLeavesTransactions()"
                                        placeholder="Select Month" readonly>
                                </div>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <ng-select class="m-input m-input--air" name="status" placeholder="Select Status" bindValue="_id" bindLabel="type" [items]="statusList"
                                    [(ngModel)]="leaveTransactionsFilter.status" (ngModelChange)="getTeamLeavesTransactions()"
                                    [clearable]="true"></ng-select>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <ng-select class="m-input m-input--air" name="leaveType" placeholder="Select Leave Type" bindValue="type" bindLabel="type"
                                    [items]="leaveTypeList" [(ngModel)]="leaveTransactionsFilter.leaveTypeId" (ngModelChange)="getTeamLeavesTransactions()"
                                    [clearable]="true"></ng-select>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-secondary">
                                        Download Excel
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">
                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--green">
                            <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body"
                                aria-expanded="true">
                                <span class="m-accordion__item-title">
                                </span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse show" id="m_accordion_5_item_1_body">
                                <div class="m-accordion__item-content">
                                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded m-datatable--scroll" id="m_datatable_latest_orders">
                                        <table class="m-datatable__table" style="display: block; min-height: 300px; max-height: 380px;">
                                            <thead class="m-datatable__head">
                                                <tr class="m-datatable__row" style="left: 0px;">
                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 100px;">Employee Name
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 100px;">ID
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc">
                                                        <span style="width: 100px;">Leave Type
                                                            <i class="la la-arrow-up"></i>
                                                        </span>
                                                    </th>
                                                    <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Quota Days</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Granted By</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 80px;">Granted On</span>
                                                    </th>
                                                    <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                                                        <span style="width: 100px;">Status</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="m-datatable__body ps ps--active-x ps--active-y" style="max-height: 324.727px;">
                                                <tr data-row="0" class="m-datatable__row" style="left: 0px;" *ngFor="let leave of leavesTransactions">
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 100px;">{{leave.employeeDetails?.fullName}}</span>
                                                    </td>
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 100px;">{{leave.employeeDetails?.userName}}</span>
                                                    </td>
                                                    <td class="m-datatable__cell--sorted m-datatable__cell" data-field="OrderID">
                                                        <span style="width: 100px;">{{leave.leaveTypeName}}</span>
                                                    </td>

                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.days}}</span>
                                                    </td>

                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.createdByName?.fullName}}</span>
                                                    </td>
                                                    <td data-field="ShipDate" class="m-datatable__cell">
                                                        <span style="width: 80px;">{{leave.leavedetails?.createdAt | date:'dd MMM yyy'}}</span>
                                                    </td>

                                                    <td data-field="Status" class="m-datatable__cell">
                                                        <span style="width: 100px;">
                                                            <span class="m-badge  m-badge--success m-badge--wide">{{leave.leavedetails?.status}}</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Section-->
                </div>
                <div class="m-portlet__foot">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="m--margin-left-10 pull-right">
                                <a href="#" class="m-link m--font-bold">
                                    View All
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #leaveDetailModal>
    <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height leaveDetailsPortlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Leave Details
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-widget6 ">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img" src="./assets/app/media/img/custom/users/user6.jpg">
                    </div>
                    <div class="col-md-9">
                        <span class="name">
                            {{leaveDetails?.leave?.emp_name?.fullName}}
                        </span>
                        <span class="empId">
                            ({{leaveDetails?.leave?.emp_name?.userName}})
                        </span>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-12 form-group">
                        <span class="key">Leave Type</span>
                        <span class="value">{{leaveDetails?.leave?.leaveTypes?.type}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">From Date</span>
                        <span class="value">{{leaveDetails?.leave?.fromDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">To Date</span>
                        <span class="value">{{leaveDetails?.leave?.toDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Applied On</span>
                        <span class="value">{{leaveDetails?.leave?.createdAt | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Status</span>
                        <span class="value">{{leaveDetails?.leave?.status}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Days</span>
                        <span class="value">{{leaveDetails?.leave?.days}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Leave Balance</span>
                        <span class="value"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <span class="key">Apporval Authority</span>
                        <span class="value"></span>
                    </div>
                    <div class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Reason</label>
                            <textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3" value="{{leaveDetails?.leave?.reason}}"
                                disabled="true"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Remarks</label>
                            <textarea name="reason" id="remarks" class="form-control m-input m-input--air" rows="3" placeholder="Remarks" [(ngModel)]="leaveDetails.remarks"
                                #remarks="ngModel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-form__actions">
                                <button class="btn btn-success" (click)="approveRejectLeave(leaveDetails.leave._id, leaveDetails.leave.status, 'Approved')">Approve Leave</button>
                                <button class="btn btn-success" (click)="approveRejectLeave(leaveDetails.leave._id, leaveDetails.leave.status, 'Reject')">Reject Leave</button>
                                <button class="btn btn-secondary " (click)="modalRef.hide() " type="button ">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>