<div class="m-content">
      <div class="row">
          <div class="col-md-12">
              <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                  <div class="m-portlet__head">
                      <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text">
                                  Approve Learning Agenda
                                  <small>
                                  </small>
                              </h3>
                          </div>
                      </div>
                      <div class="m-portlet__head-tools">
                          <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger"
                              role="tablist">
                              <li class="nav-item m-tabs__item">
                                  <!-- <a class="nav-link m-tabs__link" (click)="window.print();" role="tab" >
                           <i class="la la-print"></i>
                           Print
                           </a> -->
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="m-portlet__body">
                      <div class="m-section">
                          <div class="m-section__content">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3>{{user?.fullName}}</h3>
                                      <h4>{{user?.userName}}</h4>
                                  </div>
                              </div>
                              <div class="table-responsive">
                                  <table class="table table-bordered table-hover">
                                      <thead>
                                          <tr>
                                              <th>
                                                  #
                                              </th>
                                              <th>
                                                  Development Area
                                              </th>
                                              <th>
                                                  Timeline
                                              </th>
                                              <th  style="width: 170px;">
                                                  Status
                                              </th>
                                              <th class="text-center" *ngIf="!isDisabled" style="width: 70px;">
                                                  Action
                                              </th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let learningInfo of learningInfoData;let i=index">
                                              <th scope="row">
                                                  {{i+1}}
                                              </th>
                                              <td>
                                                <ng-select class="m-input m-input--air customError" name="developmentArea" id="developmentArea"
                                                placeholder="Select Development Area" [(ngModel)]="learningInfo.developmentArea"
                                                [clearable]="false" #developmentArea="ngModel" disabled></ng-select>
                                              </td>
                                              <td>
                                                   <textarea name="timelines" id="timelines" [(ngModel)]="learningInfo.timelines" #timelines="ngModel"
                                                   class="form-control m-input m-input--air" disabled></textarea>
                                                  
                                                      
                                              </td>
                                              <td>
                                                   <textarea name="status" id="status" [(ngModel)]="learningInfo.status" #status="ngModel"
                                                      class="form-control m-input m-input--air" disabled></textarea>
                                              </td>
                                              <td class="text-center"  style="width: 70px;">
                                                  <span>
                                                      <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                                          title="Learning Detail" (click)="showLearningDetail(i, $event)">
                                                          <i class="la la-info"></i>
                                                      </a>
                                                  </span>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <br>
                              <!-- </form> -->
                          </div><br><br>
                          <!-- <div class="row m-portlet__body m-portlet m-portlet--tabs  m-portlet--head-solid-bg m-portlet--bordered"
                              *ngIf="isKraAvaliable">
                              <div class="tab-content">
                                  <div class="m-widget3">
                                      <div class="m-widget3__item">
                                          <div class="m-widget3__header">
                                              <div class="m-widget3__user-img">
                                                  <img class="m-widget3__img" src="./assets/app/media/img/users/user6.jpg"
                                                      alt="">
                                              </div>
                                              <div class="m-widget3__info">
                                                  <span class="m-widget3__username" id="hrName">
                                                      Test HR
                                                  </span>
                                                  <br>
                                                  <span class="m-widget3__time" id="dateTime">
                                                      2 day ago
                                                  </span>
                                              </div>
                                              <span class="m-badge m-badge--success m-badge--wide" id="kraStatus">
                                                  accepted
                                              </span>
                                          </div>
                                          <div class="m-widget3__body">
                                              <p class="m-widget3__text m--font-success" id="kraTimeline">
                                                  Your KRA has been Accepted.
                                              </p>
                                          </div>
                                      </div>
                                      <div class="m-widget3__item">
                                          <div class="m-widget3__header">
                                              <div class="m-widget3__user-img">
                                                  <img class="m-widget3__img" src="./assets/app/media/img/users/user6.jpg"
                                                      alt="">
                                              </div>
                                              <div class="m-widget3__info">
                                                  <span class="m-widget3__username" id="supervisorName">
                                                      Test Supervisor
                                                  </span>
                                                  <br>
                                                  <span class="m-widget3__time">
                                                      1 weeks ago
                                                  </span>
                                              </div>
                                              <span class="m-badge m-badge--info m-badge--wide">
                                                  initiated
                                              </span>
                                          </div>
                                          <div class="m-widget3__body">
                                              <p class="m-widget3__text m--font-info">
                                                  Your KRA has been Initiated.
                                              </p>
                                          </div>
                                      </div>
                                      <div class="m-widget3__item">
                                          <div class="m-widget3__header">
                                              <div class="m-widget3__user-img">
                                                  <img class="m-widget3__img" src="./assets/app/media/img/users/user6.jpg"
                                                      alt="">
                                              </div>
                                              <div class="m-widget3__info">
                                                  <span class="m-widget3__username" id="hrName">
                                                      Test HR
                                                  </span>
                                                  <br>
                                                  <span class="m-widget3__time">
                                                      2 weeks ago
                                                  </span>
                                              </div>
                                              <span class="m-badge m-badge--danger m-badge--wide">
                                                  rejected
                                              </span>
                                          </div>
                                          <div class="m-widget3__body">
                                              <p class="m-widget3__text m--font-danger">
                                                  Your KRA has been rejected.
                                              </p>
                                          </div>
                                      </div>
                                      <div class="m-widget3__item">
                                          <div class="m-widget3__header">
                                              <div class="m-widget3__user-img">
                                                  <img class="m-widget3__img" src="./assets/app/media/img/users/user6.jpg"
                                                      alt="">
                                              </div>
                                              <div class="m-widget3__info">
                                                  <span class="m-widget3__username" id="supervisorName">
                                                      Test Supervisor
                                                  </span>
                                                  <br>
                                                  <span class="m-widget3__time">
                                                      3 weeks ago
                                                  </span>
                                              </div>
                                              <span class="m-badge m-badge--info m-badge--wide">
                                                  initiated
                                              </span>
                                          </div>
                                          <div class="m-widget3__body">
                                              <p class="m-widget3__text m--font-info">
                                                  Your KRA has been Initiated.
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  
  <ng-template #learningDetailModal>
    <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height mtrDetailsPortlet">
          <div class="m-portlet__head">
             <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                   <h3 class="m-portlet__head-text">
                      Learning Agenda Approval
                   </h3>
                </div>
             </div>
             <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                   <li class="m-portlet__nav-item">
                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                         <div class="btn-group" role="group">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                               <span aria-hidden="true">&times;</span>
                            </button>
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
        
            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right" id="LearningDataForm"
                 #LearningDataForm="ngForm">
                   <div class="m-widget6 ">
                      <div class="row">
                         <div class="col-md-6">
                            <span>Learning Agenda # {{learnData.no}}</span>
                         </div>
                         <div class="col-md-6"> 
                               <div class="row">
                                   <div class="col-md-9">
                                       <span class="block"> {{user?.fullName}} ({{user?.userName}})</span>
                                       <span class="block"> {{user?.designationDetails?.designationName}}</span>
                                   </div>
                                   <div class="col-md-3">
                                       <img class="img" [src]="user.profileImage ? user.profileImage : './assets/app/media/img/custom/users/user6.jpg'">
                                   </div>
                               </div>
                           </div>
                      </div>
                      <div class="row details">
                            <div class="col-md-2 ">
                                  Development Area
                            </div>
                               <div class="col-md-4">
                                  <ng-select class="m-input m-input--air" name="developmentArea" id="developmentArea" placeholder="Select Development Area" [(ngModel)]="learnData.developmentArea" [clearable]="false" #developmentArea="ngModel" disabled
                                    ></ng-select>
                                  <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !developmentArea.valid">
                                     This field is required.
                                  </div> -->
                               </div>
                        
                         <div class="col-md-12 details">
                            <span>Development Plan</span>
                            <textarea name="developmentPlan" id="developmentPlan" [(ngModel)]="learnData.developmentPlan" #developmentPlan="ngModel" class="form-control m-input m-input--air"
                             disabled ></textarea>
                            <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !developmentPlan.valid">
                               This field is required.
                            </div> -->
                         </div>
                         <div class="col-md-6 details">
                            <span>Timelines</span>
                            <textarea name="timelines" id="timelines" [(ngModel)]="learnData.timelines" #timelines="ngModel" class="form-control m-input m-input--air"
                             disabled required></textarea>
                            <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !timelines.valid">
                               This field is required.
                            </div> -->
                         </div>
                         <div class="col-md-6 details">
                            <span>Measure of Success</span>
                            <textarea name="measureOfSuccessdata" id="measureOfSuccessdata" [(ngModel)]="learnData.measureOfSuccess" #measureOfSuccess="ngModel"
                             class="form-control m-input m-input--air" disabled required></textarea>
                            <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !measureOfSuccess.valid">
                               This field is required.
                            </div> -->
                         </div>
                         <div class="col-md-12 details">
                            <span>Support Required</span>
                            <textarea name="supportRequired" id="supportRequired" [(ngModel)]="learnData.supportRequired" #supportRequired="ngModel" class="form-control m-input m-input--air"
                             disabled required></textarea>
                            <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && supportRequired.invalid">
                               This field is required.
                            </div> -->
                         </div>
                         <div class="col-md-6 details" >
                               <span>Progress Status</span>
                               <ng-select class="m-input m-input--air" name="progressStatus" id="progressStatus" placeholder="Select Status" [(ngModel)]="learnData.progressStatus" 
                                [clearable]="false" #progressStatus="ngModel" disabled required></ng-select>
                               <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !progressStatus.valid">
                                  This field is required.
                               </div> -->
                         </div>
                         <div class="col-md-6 details" >
                               <span>Learning Completion Comment</span>
                               <textarea name="employeeComment" id="employeeComment" [(ngModel)]="learnData.employeeComment" #employeeComment="ngModel"
                                class="form-control m-input m-input--air" disabled required></textarea>
                               <!-- <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !measureOfSuccess.valid" display="none">
                                  This field is required.
                               </div> -->
                            </div>
                      </div>
                      <div class="col-md-12 details">
                            <span>Supervisor Comment</span>
                            <textarea name="supervisorComment" id="supervisorComment" [(ngModel)]="learnData.supervisorComment" #superviserComment="ngModel" class="form-control m-input m-input--air"
                              required [disabled]="isDisabled"></textarea>
                            <div class="form-control-feedback has-danger" *ngIf="LearningDataForm.submitted && !superviserComment.valid">
                               This field is required.
                            </div>
                      </div>
                      <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-form__actions">
                                        <button 
                                            class="btn btn-success" (click)="preSaveLearningDetails(learnData,'Approved')" *ngIf="!isDisabled">Approve</button>
                                        <button 
                                            class="btn btn-danger" (click)="preSaveLearningDetails(learnData,'SendBack')" type="button" *ngIf="!isDisabled"> Send
                                            Back</button>
                                        <button class="btn btn-secondary" (click)="modalRef.hide()">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </form>
             </div>
 
 </div>
</ng-template>



 