<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login" appunwraptag="">
                <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                    <div class="m-stack m-stack--hor m-stack--desktop">
                        <div class="m-stack__item m-stack__item--fluid">
                            <div class="m-login__wrapper">
                                <div class="m-login__logo">
                                    <a href="#">
                                        <img src="./assets/app/media/img/custom/logos/logo-2.png">
                                    </a>
                                </div>
                                <div class="forgotPassword">
                                        <div class="m-login__head">
                                           <h3 class="m-login__title">
                                              Forgotten Password ?
                                           </h3>
                                           <div class="m-login__desc">
                                              Enter your email to reset your password:
                                           </div>
                                        </div>
                                        <form class="m-login__form m-form" (ngSubmit)="forgetPassword()" #fPassword="ngForm" >
                                           <div class="form-group m-form__group">
                                              <input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="forgetModel.email" #email="ngModel" required  autocomplete="off">
                                              <div class="form-control-feedback has-danger" *ngIf="!email.valid">
                                                    <span *ngIf="fPassword.submitted && !email.valid">This field is required.</span>
                                                </div>
                                           </div>
                                           <div class="m-login__form-action">
                                              <button type="submit"  class="btn btn-success btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                                Request
                                              </button>
                                              <button type="button"  class="btn btn-danger btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" (click)="fPassword.resetForm();">
                                                Cancel
                                              </button>
                                           </div>
                                        </form>
                                     </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img/custom/bg/bg-6.png)">
                    <!-- <div class="m-grid__item m-grid__item--middle">
                       <h3 class="m-login__welcome">
                          Having Trouble Sign In?
                       </h3>
                       <p class="m-login__msg">
                          For queries contact hris@adnsl.net
                       </p>
                    </div> -->
                 </div>
        </div>
            