.my-workflows-mtr {
    .sendBack {
        background-color: #FFEBEE !important;
        border: 0px !important;
    }

    .sendBack:hover {
        background-color: #FFEBEE !important;
        border: 0px !important;
    }
    .dropped {
        background-color: #ff7171 !important;
        border: 0px !important;
    }

    .dropped:hover {
        background-color: #ff7171 !important;
        border: 0px !important;
    }

    .approved {
        background-color: #E8F5E9 !important;
        border: 0px !important;
    }

    .approved :hover {
        background-color: #E8F5E9 !important;
        border: 0px !important;
    }

    .ng-select.customError.ng-invalid .ng-control,
    .input.customError.ng-invalid,
    textarea.customError.ng-invalid {
        border-color: #ff0000 !important;
    }

    td > .ng-select.ng-single .ng-control {
        background-color: #f2f3f8;
        cursor: not-allowed;
    }

    td > .ng-select.ng-single .ng-control > * {
        cursor: not-allowed;
    }

    .instructions {
        .points {
            span {
                display: block;
            }
        }

        .flags {
            i {
                padding: 0px 10px;

                &.green {
                    color: green;
                }

                &.amber {
                    color: orangered;
                }
                &.yellow {
                    color: yellow;
                }

                &.drop {
                    color: red;
                }
            }
        }
    }
}

#MTRDataForm {
    .details {
        padding-top: 2rem;
    }

    #colorStatus {
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
            div {
                display: list-item;

                &.Green {
                    background-color: green;
                }

                &.Amber {
                    background-color: orangered;
                }
                &.Yellow{
                    background-color:  yellow;
                }                

                &.Dropped {
                    background-color: red;
                }
            }
        }
    }
}
