<div class="m-content">
        <div class="row">
           <div class="col-md-12">
              <div class="m-portlet m-portlet--tabs m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm">
                 <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                       <div class="m-portlet__head-title">
                          <h3 class="m-portlet__head-text">
                             <i class="fa fa-key"> </i> 
                            Change Password
                             <small>
                             </small>
                          </h3>
                       </div>
                    </div>
                 </div>
                 <div class="m-portlet__body">
                         <div class="row">
                                 <div class="col-md-6">
                                         <form class="m-login__form m-form" (ngSubmit)="fChangePassword.valid && changePassword(fChangePassword)" #fChangePassword="ngForm">
                                <div class="form-group m-form__group">
                                        <input class="form-control m-input" name="currentPassword" id="currentPassword" placeholder="Enter Old Password" [(ngModel)]="password.currentPassword" #currentPassword="ngModel" type="password" required >
                                        <div class="form-control-feedback has-danger">
                                            <span *ngIf="fChangePassword.submitted && currentPassword.errors?.required">This field is required.</span>
                                        </div>
                                </div>
                                <div class="form-group m-form__group">
                                   <input class="form-control m-input" name="newPassword" id="newPassword" placeholder="Enter New Password" [(ngModel)]="password.newPassword" #newPassword="ngModel" type="password" required validateEqual="confirmNewPassword" reverse="true">
                                   <div class="form-control-feedback has-danger">
                                          <span *ngIf="fChangePassword.submitted && newPassword.errors?.required">This field is required.</span>
                                          <span *ngIf="newPassword.errors?.validateEqual">Value must be equal to confirm password</span>
                                   </div>
                                </div>
                                <div class="form-group m-form__group">
                                   <input class="form-control m-input m-login__form-input--last" name="confirmNewPassword" id="confirmNewPassword" [(ngModel)]="password.confirmNewPassword" #confirmNewPassword="ngModel" validateEqual="newPassword"  placeholder="Enter Confirm Password" type="password" required>
                                      <div class="form-control-feedback has-danger">
                                          <span *ngIf="fChangePassword.submitted && confirmNewPassword.errors?.required">This field is required.</span>
                                          <span *ngIf="confirmNewPassword.value?.length && confirmNewPassword.errors?.validateEqual">Value must be equal to password.</span>
                                      </div>
                                      <!-- <div class="form-control-feedback">
                                        <span *ngIf="confirmNewPassword.value?.length && !confirmNewPassword.errors?.validateEqual" class="m-link m-link--state m-link--success">Password match.</span>
                                      </div> -->
                               </div>
                                <div class="m-login__form-action">
                                   <button type="submit" class="btn btn-success" >
                                      Change
                                   </button>
                                   <button class="btn btn-secondary" (click)="fChangePassword.resetForm();" type="reset">Clear</button>
                                </div>
                         </form>
                                 </div>

                         </div>
                        
                 </div>
              </div>
           </div>
        </div>
</div>