<div class="m-content">
	<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text flaticon-user-add">
						Track Leave Applications
						<small>
						</small>
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#tabActive" role="tab">
							Active
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#tabCompleted" role="tab">
							Completed
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="tabActive">
					<div class="m-widget2">
						<div class="m-demo">
							<div class="m-demo__preview">
								<div class="m-list-search">
									<div class="m-list-search__results">
										<a class="m-list-search__result-item" *ngFor="let leave of activeLeaveData" (click)="navigateToDetails($event,leave)">
											<span class="m-list-search__result-item-pic">
												<img class="m--img-rounded" [src]="leave.profilePic" title="">
											</span>
											<span class="m-list-search__result-item-text">{{leave.emp_name}}</span>
											<span class="m-list-search__result-item-text">
												{{leave.leave_type_name}}
												<span *ngIf="leave.days || leave.days == 0">- {{leave.days}} Days </span>
												<span *ngIf="leave.fromDate">- {{leave.fromDate | date:'dd MMM yy'}}</span>
												<span *ngIf="leave.toDate"> to {{leave.toDate | date:'dd MMM yy'}}</span>
											</span>
											<a class="m-list-search__result-item-text">
												<span class="leaveStatus">{{leave.status}}</span>
												<i class="fa fa-caret-right"></i>
											</a>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="tab-pane" id="tabCompleted">
					<div class="m-widget2">
						<div class="m-demo">
							<div class="m-demo__preview">
								<div class="m-list-search">
									<div class="m-list-search__results">
										<a class="m-list-search__result-item" *ngFor="let leave of completedLeaveData" (click)="navigateToDetails($event,leave)">
											<span class="m-list-search__result-item-pic">
												<img class="m--img-rounded" [src]="leave.profilePic" title="">
											</span>
											<span class="m-list-search__result-item-text">{{leave.emp_name}}</span>
											<span class="m-list-search__result-item-text">
												{{leave.leave_type_name}}
												<span *ngIf="leave.days || leave.days == 0">- {{leave.days}} Days </span>
												<span *ngIf="leave.fromDate">- {{leave.fromDate | date:'dd MMM yy'}}</span>
												<span *ngIf="leave.toDate"> to {{leave.toDate | date:'dd MMM yy'}}</span>
											</span>
											<a class="m-list-search__result-item-text">
												<span class="leaveStatus">{{leave.status}}</span>
												<i class="fa fa-caret-right"></i>
											</a>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>