
<div class="m-content">
	<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
			<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
					   <div class="m-portlet__head-title">
						  <h3 class="m-portlet__head-text flaticon-user-add">
								Track Leave Applications
							 <small>
							 </small>
						  </h3>
					   </div>
					</div>
				 </div>
		<div class="m-portlet__body">
			
				<div class="m-demo">
						<div class="m-demo__preview">
							<div class="m-list-search">
								<div class="m-list-search__results">
									
									<!-- <span class="m-list-search__result-category">
										
									</span> -->
									<a href="#" class="m-list-search__result-item">
										<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="https://keenthemes.com/metronic/preview/assets/app/media/img/users/user1.jpg" title=""></span>
										<span class="m-list-search__result-item-text">Amanda Anderson</span>
										<span class="m-list-search__result-item-text">PL -1.00 Days - 11 oct 2017</span>
										<a class="m-list-search__result-item-text" routerLink="/my/leaves/leave-application-review">></a>
									</a>
									<a href="#" class="m-list-search__result-item">
										<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="https://keenthemes.com/metronic/preview/assets/app/media/img/users/user2.jpg" title=""></span>
										<span class="m-list-search__result-item-text">Kennedy Lloyd</span>
										<span class="m-list-search__result-item-text">PL -1.00 Days - 11 oct 2017</span>
										<a class="m-list-search__result-item-text" routerLink="/my/leaves/leave-application-review">></a>
									</a>
									<a href="#" class="m-list-search__result-item">
										<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="https://keenthemes.com/metronic/preview/assets/app/media/img/users/user3.jpg" title=""></span>
										<span class="m-list-search__result-item-text">Megan Weldon</span>
										<span class="m-list-search__result-item-text">PL -1.00 Days - 11 oct 2017</span>
										<a class="m-list-search__result-item-text" routerLink="/my/leaves/leave-application-review">></a>
									</a>
									<a href="#" class="m-list-search__result-item">
										<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="https://keenthemes.com/metronic/preview/assets/app/media/img/users/user4.jpg" title=""></span>
										<span class="m-list-search__result-item-text">Marc-André ter Stegen</span>
										<span class="m-list-search__result-item-text">PL -1.00 Days - 11 oct 2017</span>
										<a class="m-list-search__result-item-text" routerLink="/my/leaves/leave-application-review">></a>
									</a>

									
								</div>
							</div>
						</div>
					</div>

		</div>
	</div>
</div>
