<div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded m-datatable--error">
    <table class="m-datatable__table">
        <thead class="m-datatable__head">
            <tr class="m-datatable__row">
                <th class="m-datatable__cell m-datatable__cell--sort" width="30%">
                    <span>Employee Name</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort" width="15%">
                    <span>From</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort" width="15%">
                    <span>To</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort text-center" width="5%">
                    <span>Quota Days</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort" width="20%">
                    <span>Approved By</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort" width="10%">
                    <span>Status</span>
                </th>
                <th class="m-datatable__cell m-datatable__cell--sort" width="5%">
                    <span>Action</span>
                </th>
            </tr>
        </thead>
        <tbody class="m-datatable__body leaveBody">
            <tr class="m-datatable__row" *ngFor="let leave of leavesTransactions | paginate: { id: 'leavesTransactions', itemsPerPage: 6, currentPage: leaveTransactionsFilter.page };let even=even;">
                <td class="m-datatable__cell" width="30%">
                    <span>{{leave.employeeDetails?.fullName}} ({{leave.employeeDetails?.userName}})</span>
                </td>
                <td class="m-datatable__cell" width="15%">
                    <span>{{leave.leavedetails?.fromDate | date:'dd MMM yyy'}}</span>
                </td>
                <td class="m-datatable__cell" width="15%">
                    <span>{{leave.leavedetails?.toDate | date:'dd MMM yyy'}}</span>
                </td>
                <td class="m-datatable__cell text-center" width="5%">
                    <span>{{leave.leavedetails?.days}}</span>
                </td>
                <td class="m-datatable__cell" width="20%">
                    <span>{{leave.leavedetails?.supervisorDetails?.fullName}}</span>
                </td>
                <td class="m-datatable__cell" width="10%">
                    <span class="m-badge  m-badge--success m-badge--wide">{{leave.leavedetails?.status}}</span>
                </td>
                <td class="m-datatable__cell" width="5%">
                    <span>
                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                            title="Approve/Reject Leave" (click)="showLeaveDetail(leave.leavedetails._id, leaveDetailModal, false)">
                            <i class="la la-info"></i>
                        </a>
                    </span>
                </td>
            </tr>
            <span *ngIf="leavesTransactions?.length==0" class="m-datatable--error">No records found</span>
        </tbody>
    </table>
    <pagination-template *ngIf="leavesTransactions.length > 0" #p="paginationApi" [id]="'leavesTransactions'"
        (pageChange)="leaveTransactionsFilter.page = $event" class="paginationtemplate">
        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav" *ngIf="p.pages.length > 0">
                <li>
                    <span class="m-datatable__pager-link m-datatable__pager-link--first"
                        [class.m-datatable__pager-link--disabled]="p.isFirstPage()" (click)="p.setCurrent(1)">
                        <i class="la la-angle-double-left"></i>
                    </span>
                </li>
                <li>
                    <span class="m-datatable__pager-link m-datatable__pager-link--prev"
                        [class.m-datatable__pager-link--disabled]="p.isFirstPage()" (click)="p.previous()">
                        <i class="la la-angle-left"></i>
                    </span>
                </li>
                <li *ngFor="let page of p.pages">
                    <span (click)="p.setCurrent(page.value)" class="m-datatable__pager-link m-datatable__pager-link-number "
                        [class.m-datatable__pager-link--active]="p.getCurrent() === page.value">
                        {{ page.label }}
                    </span>
                </li>
                <li>
                    <span class="m-datatable__pager-link m-datatable__pager-link--next"
                        [class.m-datatable__pager-link--disabled]="p.isLastPage()" (click)="p.isLastPage()?'null':p.next()">
                        <i class="la la-angle-right"></i>
                    </span>
                </li>
                <li>
                    <span class="m-datatable__pager-link m-datatable__pager-link--last"
                        [class.m-datatable__pager-link--disabled]="p.isLastPage()" (click)="p.setCurrent(p.pages.length + 1)">
                        <i class="la la-angle-double-right"></i>
                    </span>
                </li>
            </ul>
        </div>
    </pagination-template>
</div>

<ng-template #leaveDetailModal>
    <div class="m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--head-sm  m-portlet--full-height leaveDetailsPortlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Leave Details
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-widget6 ">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img" *ngIf="leaveDetails.leave.emp_name.profileImage;" src="{{imageBase+leaveDetails.leave.emp_name.profileImage}}"
                            onerror="this.src ='./assets/app/media/img/custom/users/user6.jpg';">
                    </div>
                    <div class="col-md-9">
                        <span class="name">
                            {{leaveDetails?.leave?.emp_name?.fullName}}
                        </span>
                        <span class="empId">
                            ({{leaveDetails?.leave?.emp_name?.userName}})
                        </span>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-12 form-group">
                        <span class="key">Leave Type</span>
                        <span class="value">{{leaveDetails?.leave?.leaveTypes?.type}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">From Date</span>
                        <span class="value">{{leaveDetails?.leave?.fromDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">To Date</span>
                        <span class="value">{{leaveDetails?.leave?.toDate | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Applied On</span>
                        <span class="value">{{leaveDetails?.leave?.createdAt | date: 'dd MMM yyy'}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Status</span>
                        <span class="value">{{leaveDetails?.leave?.status}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span class="key">Days</span>
                        <span class="value">{{leaveDetails?.leave?.days}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                        <!-- <span class="key">Leave Balance</span>
                        <span class="value">{{leaveDetails?.leave?.balance}}</span> -->
                    </div>
                    <div class="col-md-12 form-group">
                        <span class="key">Approval Authority</span>
                        <span class="value">{{leaveDetails?.leave?.sup_name?.fullName}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                        <span class="key">Approval Authority Remarks</span>
                        <span class="value">{{leaveDetails?.leave?.supervisorReason}}</span>
                    </div>
                    <div class="col-md-12 form-group" *ngIf="leaveDetails?.leave?.supervisorReason2 != null && leaveDetails?.leave?.supervisorReason2 != ''">
                        <span class="key">Approval Authority Withdrawal Remarks</span>
                        <span class="value">{{leaveDetails?.leave?.supervisorReason2}}</span>
                    </div>
                    <div class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Reason</label>
                            <textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3"
                                value="{{leaveDetails?.leave?.reason}}" disabled="true"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 adn-form__group" *ngIf="leaveDetails?.leave?.reason2 != null && leaveDetails?.leave?.reason2 != '' && leaveDetails?.leave?.status != 'Applied' && leaveDetails?.leave?.status != 'Approved'">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Reason For Withdrawal</label>
                            <textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3"
                                value="{{leaveDetails?.leave?.reason2}}" disabled="true"></textarea>
                        </div>
                    </div>
                    <div *ngIf="leaveDetails?.leave?.status == 'Applied' || leaveDetails?.leave?.status == 'Approved'"
                        class="col-md-12 adn-form__group">
                        <div class="m-form__group form-group">
                            <label for="form_control_1">Reason For Withdrawal</label>
                            <span class="required" aria-required="true"> * </span>
                            <textarea name="reason" id="remarks" class="form-control m-input m-input--air" rows="3"
                                placeholder="Remarks" [(ngModel)]="leaveDetails.remarks" disabled #remarks="ngModel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-form__actions">
                                <button class="btn btn-secondary" (click)="modalRef.hide()" type="button">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>