.papDetailsGrid {
    input:disabled {
        background-color: #ededed !important;
        border: 0px;
        height: 37px;
        padding-left: 5px;
    }

    .sendBack {
        background-color: $status-sendBack !important;
        border: 0px !important;
    }

    .sendBack:hover {
        background-color: $status-sendBack !important;
        border: 0px !important;
    }

    .approved {
        background-color: $status-approved !important;
        border: 0px !important;
    }

    .approved :hover {
        background-color: $status-approved !important;
        border: 0px !important;
    }

    .pendingReviewer {
        background-color: #a1dbfd !important;
        border: 0px !important;
    }

    .pendingReviewer :hover {
        background-color: #a1dbfd !important;
        border: 0px !important;
    }

    .approvedReviewer {
        background-color: $status-approved !important;
        border: 0px !important;
    }

    .approvedReviewer :hover {
        background-color: $status-approved !important;
        border: 0px !important;
    }
}

.pending {
    background-color: $status-newKra !important;
    border: 0px !important;
}

.pending :hover {
    background-color: $status-newKra !important;
    border: 0px !important;
}
