<div id="initiate-loader">
    <department-grade-filter #filter (onSearch)="onFilterSelected($event)"></department-grade-filter>
    <employee-batch-selection-grid #grid [(employeeData)]="employees" (employeeChecked)="OnemployeeChecked($event)"
        [filterBy]="filterBy"></employee-batch-selection-grid>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="form-actions">
                    <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="initiateBatch(fInitiatePap)"
                        #fInitiatePap="ngForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="batchName">Batch Name
                                </label>
                                <span class="required" aria-required="true"> * </span>
                                <input name="batchName" class="form-control m-input m-input--air" #batchName="ngModel"
                                    placeholder="Enter Batch Name" [(ngModel)]="batchData.batchName" required>
                                <div class="form-control-feedback has-danger"
                                    *ngIf="fInitiatePap.submitted && batchName.invalid">
                                    This field is required.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="batchEndDate">Batch End Date
                                </label>
                                <span class="required" aria-required="true"> * </span>
                                <input name="batchEndDate" class="form-control m-input m-input--air"
                                    #batchEndDate="ngModel" placeholder="Enter Batch End Date"
                                    [(ngModel)]="batchData.batchEndDate" bsDatepicker [readonly]="true"
                                    [minDate]="currentDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    #batchEndDate="ngModel" placement="top" required>
                                <div class="form-control-feedback has-danger"
                                    *ngIf="fInitiatePap.submitted && batchEndDate.invalid">
                                    This field is required.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="m-form__actions">
                                    <button class="btn btn-success submitForm" type="submit">Initiate</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>