$color-them-light-green: #198F4A;
$color-annual-leave: #198F4A;
$color-sick-leave: #716aca;
$color-disabled: #ededed;

$status-dropped: #ff7171;
$status-sendBack: #FFEBEE;
$status-approved: rgb(227, 248, 228);
$status-newKra: #deecf6;
$status-green: rgb(9, 177, 23);
$status-amber: rgb(255, 156, 89);
$status-yellow: rgb(251, 255, 0);
$status-drop: rgb(255, 80, 80);
