<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
				<table class="m-datatable__table">
					<thead class="m-datatable__head">
						<tr class="m-datatable__row">
							<th data-field="RecordID" class="m-datatable__cell m-datatable__cell--check">
								<span style="width: 40px;">
									<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
										<!-- <input type="checkbox" value="245"> -->
										<span></span>
									</label>
								</span>
							</th>
							<th (click)="sort('leavetype')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
								<span>
									Leave Type
									<i class="la" *ngIf="key == 'leavetype'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
							<th (click)="sort('fromDate')" class="m-datatable__cell m-datatable__cell--sort" width="16%">
								<span>
									From Date
									<i class="la" *ngIf="key == 'fromDate'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
							<th (click)="sort('toDate')" class="m-datatable__cell m-datatable__cell--sort" width="16%">
								<span>
									To Date
									<i class="la" *ngIf="key == 'toDate'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
							<th (click)="sort('days')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
								<span>
									Days
									<i class="la" *ngIf="key == 'days'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
							<th (click)="sort('status')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
								<span>
									Status
									<i class="la" *ngIf="key == 'status'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
							<th (click)="sort('reason')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
								<span>
									Reason
									<i class="la" *ngIf="key == 'reason'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
								</span>
							</th>
						</tr>
					</thead>
					<tbody class="m-datatable__body">
						<tr class="m-datatable__row" [ngClass]="{'m-datatable__row--even':!even}" *ngFor="let leave of leaveData | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 8, currentPage: p2 };let even=even;">
							<td data-field="RecordID" class="m-datatable__cell m-datatable__cell--check">
								<span style="width: 40px;">
									<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
										<input type="checkbox" value="245" (change)="selectLeave($event,leave)" [(ngModel)]="leave.checked" [disabled]="leave.cannotCancel">
										<span></span>
									</label>
								</span>
							</td>
							<td class="m-datatable__cell" width="20%">
								<span>{{leave.leave_type_name}}</span>
							</td>
							<td class="m-datatable__cell" width="16%">
								<span>{{leave.fromDate | date:'dd MMM yy'}}</span>
							</td>
							<td class="m-datatable__cell" width="16%">
								<span>{{leave.toDate | date:'dd MMM yy'}}</span>
							</td>
							<td class="m-datatable__cell" width="20%">
								<span>{{leave.days}}</span>
							</td>
							<td class="m-datatable__cell" width="20%">
								<span>{{leave.status}}</span>
							</td>
							<td class="m-datatable__cell" width="20%">
								<span>{{leave.remark}}</span>
							</td>

						</tr>
						<tr *ngIf="!leaveData || leaveData.length == 0" style="text-align: center">
							<th colspan="5">
								No Data
							</th>
						</tr>
					</tbody>
				</table>
				<pagination-template #p="paginationApi" (pageChange)="p2 = $event" class="paginationtemplate">
					<div class="m-datatable__pager m-datatable--paging-loaded clearfix">
						<ul class="m-datatable__pager-nav" *ngIf="p.pages.length > 0">
							<li>
								<a class="m-datatable__pager-link m-datatable__pager-link--first" [class.m-datatable__pager-link--disabled]="p.isFirstPage()"
								 (click)="p.setCurrent(1)">
									<i class="la la-angle-double-left"></i>
								</a>
							</li>
							<li>
								<a class="m-datatable__pager-link m-datatable__pager-link--prev" [class.m-datatable__pager-link--disabled]="p.isFirstPage()"
								 (click)="p.previous()">
									<i class="la la-angle-left"></i>
								</a>
							</li>
							<li *ngFor="let page of p.pages">
								<a (click)="p.setCurrent(page.value)" class="m-datatable__pager-link m-datatable__pager-link-number " [class.m-datatable__pager-link--active]="p.getCurrent() === page.value">
									{{ page.label }}
								</a>
							</li>
							<li>
								<a class="m-datatable__pager-link m-datatable__pager-link--next" [class.m-datatable__pager-link--disabled]="p.isLastPage()"
								 (click)="p.next()">
									<i class="la la-angle-right"></i>
								</a>
							</li>
							<li>
								<a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" [class.m-datatable__pager-link--disabled]="p.isLastPage()"
								 (click)="p.setCurrent(p.pages.length + 1)">
									<i class="la la-angle-double-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</pagination-template>
			</div>
		</div>
	</div>
	<div class="m-portlet m-portlet--mobile cancel-portlet" *ngIf="selectedLeave">
		<div class="m-portlet__body">
			<!--form-->
			<div class="row ">
				<div class="col-md-12">
					<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
						<div class="m-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active show" id="m_tabs_9_1" role="tabpanel">
									<form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onLeavecancelSubmit(fleavecancel)" id="fleavecancel"
									 #fleavecancel="ngForm">
										<div class="form-body">
											<div class="row">
												<div class="col-md-12 adn-form__group">
													<div class="form-group m-form__group">
														<label for="form_control_1">Apply To</label>
														<span class="required" aria-required="true"> * </span>
														<ng-select class="m-input m-input--air" name="applyto" [items]="supervisorList" [(ngModel)]="leaveCancel.applyto" #applyto="ngModel"
														 bindLabel="fullName" bindValue="_id" required></ng-select>

														<div class="form-control-feedback has-danger" *ngIf="!applyto.valid">
															<span *ngIf="applyto.touched && !applyto.valid">This field is required.</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 adn-form__group">
													<div class="m-form__group form-group">
														<label for="form_control_1">Reason</label>
														<span class="required" aria-required="true"> * </span>
														<textarea name="reason" id="reason" class="form-control m-input m-input--air" rows="3" [(ngModel)]="leaveCancel.reason" #reason="ngModel"
														 required></textarea>
														<div class="form-control-feedback has-danger" *ngIf="reason.touched && !reason.valid ">
															This field is required.
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12 adn-form__group">
													<div class="m-form__group form-group">
														<label for="form_control_1">CC To</label>
														<ng-select class="m-input m-input--air" name="ccTo" [items]="employeeEmailList" [(ngModel)]="leaveCancel.ccTo" #ccTo="ngModel"
														 bindLabel="personalEmail" bindValue="_id" multiple="true" required></ng-select>
														<div class="form-control-feedback has-danger" *ngIf="ccTo.touched && !ccTo.valid ">
															This field is required.
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 adn-form__group">
													<!-- Note: Separate multiple emails with commas -->
												</div>
											</div>
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-12">
													<div class="m-form__actions">
														<button [disabled]="!fleavecancel.valid" class="btn btn-success submitForm" type="submit" id="submitForm">Apply</button>
														<button class="btn btn-secondary" (click)="fleavecancel.resetForm();" type="reset">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--form-->

		</div>
	</div>
</div>