<!-- <div class="m-subheader">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title">
					Leave Quota Provider
				</h3>
			</div>			
		</div>
</div> -->


<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text flaticon-user-add">
                                HR SPOC'S
                                <small>
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded"
            [ngClass]="{'m-datatable--error': (employeesData | orderBy: key : reverse | filter:search)?.length==0 }">
            <table class="m-datatable__table">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        <th class="m-datatable__cell" width="5%"></th>
                        <th (click)="sort('userName')" class="m-datatable__cell m-datatable__cell--sort" width="5%">
                            <span>
                                ID
                                <i class="la" *ngIf="key == 'userName'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('fullName')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
                            <span>
                                NAME
                                <i class="la" *ngIf="key == 'fullName'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>

                        <th (click)="sort('officeEmail')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                EMAIL
                                <i class="la" *ngIf="key == 'officeEmail'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('designation')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                DESIGNATION
                                <i class="la" *ngIf="key == 'designation'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('supervisor')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                SUPERVISOR
                                <i class="la" *ngIf="key == 'supervisor'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                ACTIONS
                                <i class="la" *ngIf="key == 'actions'"
                                    [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body" id="allEmployee-loader">
                    <tr class="m-datatable__row" [ngClass]="{'m-datatable__row--even':!even}"
                        *ngFor="let employee of hrspocData | orderBy: key : reverse | filter:search  | paginate: { itemsPerPage: itemPerPage, currentPage: p2 };let even=even;">
                        <!-- <td class="m-datatable__cell" width="5%">

                            <i class="status--icon fa" [ngClass]="
                                        !employee.isAccountActive ?'fa-exclamation-triangle m--font-danger':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'fa-circle m--font-success' :
                                        ((employee.profileProcessDetails.supervisorStatus == 'SendBack') ? 'fa-adjust m--font-danger' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'fa-adjust m--font-success':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'fa-circle-o m--font-danger':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'fa-circle-o m--font-success':
                                        'fa-circle-o m--font-warning')))))"
                                [title]="!employee.isAccountActive ?'Inactive':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'Profile Complete' :
                                        (employee.profileProcessDetails.supervisorStatus == 'SendBack' ? 'Office Profile Sent Back' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'Office Profile Submitted':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'Personal Profile Sent Back':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'Personal Profile Submitted':'Personal Profile Incomplete')))))">
                            </i>

                            <img *ngIf="employee?.profileImage; else noImage" src="{{imageBase+employee?.profileImage}}"
                                onerror="this.src ='./assets/app/media/img/custom/users/user6.jpg';"
                                class="directory_image m--img-rounded m--marginless m--img-centered" alt="">
                            <ng-template #noImage><img src="./assets/app/media/img/custom/users/user6.jpg"
                                    class="directory_image m--img-rounded m--marginless m--img-centered"></ng-template>
                        </td> -->
                        <td class="m-datatable__cell" width="5%">
                            <span>{{employee.employeedetails.userName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="20%">
                            <span>{{employee.employeedetails.fullName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <span>{{employee.companies.companyName}}</span>
                        </td>
                        <!-- <td class="m-datatable__cell" width="15%">
                            <span>{{employee.designation}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <span>{{employee.supervisor}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <a routerLink="/my/profile-edit"
                                [queryParams]="{ id: employee._id , tabName:employee.profileProcessDetails.supervisorStatus=='Approved' || employee.profileProcessDetails.employeeStatus=='Submitted' ?'personal':'office' }"
                                class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="View">
                                <i class="la la-edit"></i>
                            </a>
                            <a (click)=resetPassword(employee._id);
                                class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Reset Password">
                                <i class="la la-reply"></i>
                            </a>
                            <a routerLink="/hr/employee/{{employee._id}}"
                                class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Employee Dashboard">
                                <i class="la la-gear"></i>
                            </a>
                        </td> -->
                    </tr>
                    <span *ngIf="(employeesData | orderBy: key : reverse | filter:search)?.length==0"
                        class="m-datatable--error">No
                        records found</span>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text flaticon-user-add">
                                Business HR
                                <small>
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" [ngClass]="{'m-datatable--error': (employeesData | orderBy: key : reverse | filter:search)?.length==0 }">
            <table class="m-datatable__table">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        <th class="m-datatable__cell" width="5%"></th>
                        <th (click)="sort('userName')" class="m-datatable__cell m-datatable__cell--sort" width="25%">
                            <span>
                                ID
                                <i class="la" *ngIf="key == 'userName'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('fullName')" class="m-datatable__cell m-datatable__cell--sort" width="25%">
                            <span>
                                NAME
                                <i class="la" *ngIf="key == 'fullName'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>

                        <th (click)="sort('officeEmail')" class="m-datatable__cell m-datatable__cell--sort" width="50%">
                            <span>
                                COMPANY NAME
                                <i class="la" *ngIf="key == 'officeEmail'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <!-- <th (click)="sort('designation')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                DESIGNATION
                                <i class="la" *ngIf="key == 'designation'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('supervisor')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                SUPERVISOR
                                <i class="la" *ngIf="key == 'supervisor'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                ACTIONS
                                <i class="la" *ngIf="key == 'actions'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th> -->
                    </tr>
                </thead>
                <tbody class="m-datatable__body" id="allEmployee-loader">
                    <tr class="m-datatable__row" [ngClass]="{'m-datatable__row--even':!even}" *ngFor="let employee of buisnessHrHeadData | orderBy: key : reverse | filter:search  | paginate: { itemsPerPage: itemPerPage, currentPage: p2 };let even=even;">
                        <!-- <td class="m-datatable__cell" width="5%">

                            <i class="status--icon fa" [ngClass]="
                                        !employee.isAccountActive ?'fa-exclamation-triangle m--font-danger':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'fa-circle m--font-success' :
                                        ((employee.profileProcessDetails.supervisorStatus == 'SendBack') ? 'fa-adjust m--font-danger' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'fa-adjust m--font-success':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'fa-circle-o m--font-danger':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'fa-circle-o m--font-success':
                                        'fa-circle-o m--font-warning')))))"
                                [title]="!employee.isAccountActive ?'Inactive':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'Profile Complete' :
                                        (employee.profileProcessDetails.supervisorStatus == 'SendBack' ? 'Office Profile Sent Back' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'Office Profile Submitted':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'Personal Profile Sent Back':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'Personal Profile Submitted':'Personal Profile Incomplete')))))">
                            </i>

                            <img *ngIf="employee?.profileImage; else noImage" src="{{imageBase+employee?.profileImage}}"
                                onerror="this.src ='./assets/app/media/img/custom/users/user6.jpg';" class="directory_image m--img-rounded m--marginless m--img-centered"
                                alt="">
                            <ng-template #noImage><img src="./assets/app/media/img/custom/users/user6.jpg" class="directory_image m--img-rounded m--marginless m--img-centered"></ng-template>
                        </td> -->
                        <td class="m-datatable__cell" width="50%">
                            <span>{{employee.employeedetails.userName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="25%">
                            <span>{{employee.employeedetails.fullName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="25%">
                            <span>{{employee.companies.companyName}}</span>
                        </td>
                        <!-- <td class="m-datatable__cell" width="15%">
                            <span>{{employee.designation}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <span>{{employee.supervisor}}</span>
                        </td> -->
                        <!-- <td class="m-datatable__cell" width="15%">
                            <a routerLink="/my/profile-edit" [queryParams]="{ id: employee._id , tabName:employee.profileProcessDetails.supervisorStatus=='Approved' || employee.profileProcessDetails.employeeStatus=='Submitted' ?'personal':'office' }"
                                class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="View">
                                <i class="la la-edit"></i>
                            </a>
                            <a (click)=resetPassword(employee._id); class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Reset Password">
                                <i class="la la-reply"></i>
                            </a>
                            <a routerLink="/hr/employee/{{employee._id}}" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Employee Dashboard">
                                <i class="la la-gear"></i>
                            </a>
                        </td> -->
                    </tr>
                    <span *ngIf="(employeesData | orderBy: key : reverse | filter:search)?.length==0" class="m-datatable--error">No
                        records found</span>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text flaticon-user-add">
                                Group HR
                                <small>
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" [ngClass]="{'m-datatable--error': (employeesData | orderBy: key : reverse | filter:search)?.length==0 }">
            <table class="m-datatable__table">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row">
                        <th class="m-datatable__cell" width="5%"></th>
                        <th (click)="sort('userName')" class="m-datatable__cell m-datatable__cell--sort" width="5%">
                            <span>
                                ID
                                <i class="la" *ngIf="key == 'userName'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('fullName')" class="m-datatable__cell m-datatable__cell--sort" width="20%">
                            <span>
                                NAME
                                <i class="la" *ngIf="key == 'fullName'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>

                        <th (click)="sort('officeEmail')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                EMAIL
                                <i class="la" *ngIf="key == 'officeEmail'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('designation')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                DESIGNATION
                                <i class="la" *ngIf="key == 'designation'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th (click)="sort('supervisor')" class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                SUPERVISOR
                                <i class="la" *ngIf="key == 'supervisor'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                        <th class="m-datatable__cell m-datatable__cell--sort" width="15%">
                            <span>
                                ACTIONS
                                <i class="la" *ngIf="key == 'actions'" [ngClass]="{'la-arrow-up':reverse,'la-arrow-down':!reverse}"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body" id="allEmployee-loader">
                    <tr class="m-datatable__row" [ngClass]="{'m-datatable__row--even':!even}" *ngFor="let employee of groupHrHeadData | orderBy: key : reverse | filter:search  | paginate: { itemsPerPage: itemPerPage, currentPage: p2 };let even=even;">
                        <!-- <td class="m-datatable__cell" width="5%">

                            <i class="status--icon fa" [ngClass]="
                                        !employee.isAccountActive ?'fa-exclamation-triangle m--font-danger':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'fa-circle m--font-success' :
                                        ((employee.profileProcessDetails.supervisorStatus == 'SendBack') ? 'fa-adjust m--font-danger' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'fa-adjust m--font-success':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'fa-circle-o m--font-danger':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'fa-circle-o m--font-success':
                                        'fa-circle-o m--font-warning')))))"
                                [title]="!employee.isAccountActive ?'Inactive':
                                        (employee.profileProcessDetails.supervisorStatus=='Approved' ? 'Profile Complete' :
                                        (employee.profileProcessDetails.supervisorStatus == 'SendBack' ? 'Office Profile Sent Back' :
                                        (employee.profileProcessDetails.hrStatus=='Submitted' ? 'Office Profile Submitted':
                                        (employee.profileProcessDetails.hrStatus=='SendBack'? 'Personal Profile Sent Back':
                                        (employee.profileProcessDetails.employeeStatus=='Submitted'? 'Personal Profile Submitted':'Personal Profile Incomplete')))))">
                            </i>

                            <img *ngIf="employee?.profileImage; else noImage" src="{{imageBase+employee?.profileImage}}"
                                onerror="this.src ='./assets/app/media/img/custom/users/user6.jpg';" class="directory_image m--img-rounded m--marginless m--img-centered"
                                alt="">
                            <ng-template #noImage><img src="./assets/app/media/img/custom/users/user6.jpg" class="directory_image m--img-rounded m--marginless m--img-centered"></ng-template>
                        </td> -->
                        <td class="m-datatable__cell" width="5%">
                            <span>{{employee.employeedetails.userName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="20%">
                            <span>{{employee.employeedetails.fullName}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <span>{{employee.companies.companyName}}</span>
                        </td>
                        <!-- <td class="m-datatable__cell" width="15%">
                            <span>{{employee.designation}}</span>
                        </td>
                        <td class="m-datatable__cell" width="15%">
                            <span>{{employee.supervisor}}</span>
                        </td> -->
                        <!-- <td class="m-datatable__cell" width="15%">
                            <a routerLink="/my/profile-edit" [queryParams]="{ id: employee._id , tabName:employee.profileProcessDetails.supervisorStatus=='Approved' || employee.profileProcessDetails.employeeStatus=='Submitted' ?'personal':'office' }"
                                class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="View">
                                <i class="la la-edit"></i>
                            </a>
                            <a (click)=resetPassword(employee._id); class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Reset Password">
                                <i class="la la-reply"></i>
                            </a>
                            <a routerLink="/hr/employee/{{employee._id}}" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                title="Employee Dashboard">
                                <i class="la la-gear"></i>
                            </a>
                        </td> -->
                    </tr>
                    <span *ngIf="(employeesData | orderBy: key : reverse | filter:search)?.length==0" class="m-datatable--error">No
                        records found</span>
                </tbody>
            </table>
        </div>
    </div>
</div>