@import "cancel/cancel.component";
@import "dashboard/dashboard-employee/dashboard-employee.component";
@import "dashboard/dashboard-supervisor/dashboard-supervisor.component";
@import "track-leave/track-leave.component";
@import "post-leave-transaction/post-leave-transaction.component";
@import "grant-leave/grant-leave.component";
@import "reports/reports.component";
@import "holidays/holidays.component";
@import "employee-leaves/employee-leaves.component";
@import "calender/calendar.component";
@import "apply/apply.component";
@import "charts/monthly-leave-chart/monthly-leave-chart";

// For Pagination
.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager {
    margin-top: 20px;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager.m-datatable__pager--top {
    margin-bottom: 20px;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav {
    margin: 10px 0 0;
    padding: 0;
    display: inline-block;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li {
    padding: 0;
    margin-right: 5px;
    display: inline-block;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li:last-child {
    margin-right: 0;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link {
    cursor: pointer;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #898b96;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link > i {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--more-next,
.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--more-prev {
    font-weight: 600;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-pager-input {
    height: 2.25rem;
    width: 3.5rem;
    text-align: center;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    border-radius: 15px !important;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info {
    float: right;
    margin-top: 10px;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size {
    margin-right: 10px;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border-radius: 20px !important;
    height: 2.25rem;
    padding: .45rem 1rem;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .dropdown-menu.inner > li.selected > a span.check-mark {
    margin-top: -.6rem;
}

.m-datatable.m-datatable--default .m-datatable__row-detail .m-datatable__detail > .m-datatable > .m-datatable__pager {
    margin-top: 10px;
    padding: 0 20px 15px;
}

@media (max-width: 768px) {
    .m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info {
        float: none;
        display: block;
        margin: 10px 0 0;
    }
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last,
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next,
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev,
.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first {
    color: #716aca;
    background: #edecf8;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last:hover,
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next:hover,
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev:hover,
.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first:hover {
    background: #deddf3;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    color: #716aca;
    background: #edecf8;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #716aca;
    color: #fff;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-pager-input {
    background: #edecf8;
    border-color: #edecf8;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-nav > li > .m-pager-input:focus {
    background: #deddf3;
    border-color: #deddf3;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle {
    background: #edecf8;
    color: #3f4047;
}

.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager > .m-datatable__pager-info .m-datatable__pager-size .btn.dropdown-toggle:hover {
    background: #deddf3;
}

// Fix to align it center (horizontally)
.m-datatable.m-datatable--default > .paginationtemplate > .m-datatable__pager {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-data-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.pl1r {
    padding-left: 1rem;
}

.m-datatable {
    tr:nth-child(even) {
        background-color: #f4f4f4;
    }
}

.m-accordion .m-accordion__item--green {
    border: 1px solid $color-them-light-green !important;

    .m-accordion__item-head,
    .m-accordion .m-accordion__item--green .m-accordion__item-head:hover {
        background-color: $color-them-light-green !important;
    }

    .m-accordion__item-head .m-accordion__item-mode {
        color: #ffffff !important;
    }

    .m-accordion__item-title {
        color: white;
    }
}

.m-portlet__head-tools {
    .form-control[readonly] {
        background-color: #ffffff !important;
        width: 14rem;
        cursor: pointer;
    }
}
