<div appunwraptag="" class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside" *ngIf="isResetSection">
           <div class="m-stack m-stack--hor m-stack--desktop">
              <div class="m-stack__item m-stack__item--fluid">
                 <div class="m-login__wrapper">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="./assets/app/media/img/custom/logos/logo-2.png">
                        </a>
                    </div>
                    <div class="m-login__signin">
                       <div class="m-login__head">
                          <h3 class="m-login__title">
                             Reset Password
                          </h3>
                       </div>
                       <form class="m-login__form m-form" (ngSubmit)="fRestPassword.valid && resetPassword()" #fRestPassword="ngForm">
                          <div class="form-group m-form__group">
                             <input class="form-control m-input" name="newPassword" id="newPassword" placeholder="Enter New Password" [(ngModel)]="resetModel.newPassword" #newPassword="ngModel" type="password" required reverse="true">
                             <div class="form-control-feedback has-danger">
                                    <span *ngIf="fRestPassword.submitted && newPassword.errors?.required">This field is required.</span>
                                    <span *ngIf="newPassword.errors?.validateEqual">Value must be equal to confirm password</span>
                             </div>
                            </div>
                          <div class="form-group m-form__group">
                             <input class="form-control m-input m-login__form-input--last" name="confirmNewPassword" id="confirmNewPassword" [(ngModel)]="resetModel.confirmNewPassword" #confirmNewPassword="ngModel" validateEqual="newPassword"  placeholder="Confirm New Password" type="password" required>
                                <div class="form-control-feedback has-danger">
                                    <span *ngIf="fRestPassword.submitted && confirmNewPassword.errors?.required">This field is required.</span>
                                    <span *ngIf="!confirmNewPassword.errors?.required && confirmNewPassword.errors?.validateEqual">Value must be equal to password.</span>
                                </div>
                         </div>
                          <div class="m-login__form-action">
                             <button type="submit" class="btn btn-success btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" >
                                Reset
                             </button>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img/custom/bg/bg-6.png)" *ngIf="isResetSection">
    </div>
    <div class="m-grid__item m-grid__item--fluid m-grid  m-error-6" *ngIf="isLinkExpire" style="background-image: url('assets/app/media/img/custom/bg/bg-7.jpg');">
                    <div class="m-error_container">
                        <div class="m-error_subtitle m--font-light">
                            <h1>
                                Oops!
                            </h1>
                        </div>
                        <p class="m-error_description m--font-light">
                            The link has expired.
                            <br>
                        </p>
                    </div>
    </div>
</div>